@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */
html { scroll-behavior: smooth; }
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{list-style:none;}
a{text-decoration:none; color: #fff;}
img{vertical-align:bottom; border:none;}

body{
    font-family: 'Nanum Gothic',
    sans-serif; color: #fff;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;}
.bg{
    position:fixed;
    left: 0; top: 0;
    }

/* 구글폰트,눈누폰트 등에서 import 미리설정 
    font-family 를 주석으로 가둬서 임시저장*/
/* 우선순위 css는 덮어쓰기가 가능
제일상위자 - 태그네임
두번째상위자 - #wrap section -> section의 class네임으로는 변경 x 
세번째상위자 - ID값 */

/* 크기설정 */
/* 제이쿼리에서 높이를 화면기준으로 변경될 section - 800px 
    내용에따라 높이가 자동변환 될 section  - 1000px / 500px*/
header {
        width:100%; 
        height: 180px;}
.main1{
    width: 100%; height: 1000px;}
.main2{
    width: 100%; height: 2000px;}
.main3{
    width: 100%; height: 3000px;}
/* 공간설정  - 내용 완성 후 삭제예정*/
section:nth-child(1){}
section:nth-child(2){}
section:nth-child(3){}
/* header설정 */
.h1 {font-size: 30px;
    position: fixed;
    left: 50px;
    top: 50px;
    background-color: #ffb941;
    z-index: 99999;}
.h2 {font-size: 30px;
    position: fixed;
    left: 50px;
    top: 100px;
    background-color: #ffb941;
    z-index: 99999;}
.h3 {font-size: 30px;
    position: fixed;
    left: 50px;
    top: 150px;
    background-color: #ffb941;
    z-index: 99999;}
.h4 {font-size: 30px;
    position: fixed;
    left: 50px;
    top: 200px;
    background-color: #ffb941;
    z-index: 99999;}
header {
    display: flex;
    width: 100%;
    position: fixed; 
    left: 0; top: 0; 
    z-index: 9999;
    opacity: 1;
    transition: all 0.5s;}

header>.wrap1{max-width: 1280px;}
header h1 {
    margin-left: 150px;
    width: 20%;
    height: 100%;}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/logo_white.png);
    transition: all 0.5s;}
nav{width: 80%;}
.navMenu {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    height: 100%;
    align-items: center;}
.navMenu li {width: 20%; margin-top: 30px;}
.navMenu li a {
    display: block;
    font-size: 22px;
    text-align: center;
    color:#fff;}

/* 서브메뉴 설정 */
.none{
    width: 100%;
    background-color: #fff;
    padding-top: 8px;
    display: none;
    }
.submenu{
    display: flex;
    justify-content:flex-start;
    height: 60px;    
    padding: 5px 5px;} 
.submenu ul {
    color: #000;
    cursor: pointer;}
.sub1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;}
.sub1 li{
    border-right: 0.5px solid #444;
    padding-right: 40px;}
.sub1 li:nth-child(6){border-right:none;}
.submenu ul.on {color: #ffb941;}
.submenu li.on {color: #ffb941;}
.submenu li a{
    color: #000;
    font-size: 16px;
    display: block;
    text-align:start;            
    padding: 3px 3px ;}
.icon{
    margin-right: 150px;
    justify-content: end;
    align-items: center;
    width: 20%;
    display: flex;}
.icon>.kor a{
    margin-top: 30px;
    display: block;
    font-size: 16px;
    text-align: center;
    color:#fff;}
.icon>.menuIcon a{
    margin-top: 30px;
    display: block;
    font-size: 22px;
    text-align: center;
    color:#fff;
    margin-left: 20px;
    }

.submenu li a {font-weight: normal;}
.submenu li a:hover {color:#c00000;}
.icon .kor a:hover {color: red;}
.icon .menuIcon a:hover {color: red;}
header:hover .kor a{color: #000;}
header:hover .menuIcon a{color: #000;}
header:hover {background-color: #fff;}
header:hover .navMenu li a {color: #000;}
header .navMenu li a:hover {color: #c00000;}
header:hover h1 a {background-image:url(img/logo.png);}
/* 메인1 설정 */
.main1 {
    position: relative;
    width: 100%;}
.main1Box1 {
    position: absolute;
    top: 50%;
    transform: translateY(0px);
    transition: all 1s;}
.main1Box1 h2 {
    font-size: 6em;
    }
.main1Box1 span {
    font-size: 3em;
    }

/* 메인2의 Box1설정 */
.main2{
    width: 100%;
    height: 2000px;
    }
.main2Box1{
    position:relative;
    width: 100%;
    height: 1000px;
    }
.main2Box1 .txtBox1{
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1;}
    .txtBox1 h2{
        font-size: 6rem;}
    .txtBox1 p{
        font-size: 2rem;}
    .txtBox1 .btn{
        font-size:2rem;}
.main2Box1 .img1{
    background-image: url(img/main2-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 30%;
    width: 900px;
    height: 500px;}

/* 메인2의 Box2설정 */
.main2Box2{
    position: relative;
    width: 100%;
    height: 1000px;
    }
.main2Box2 .img2{
    background-image: url(img/main2-2.jpg);
    position: absolute;
    left:0px;
    top: 30%;
    width: 900px;
    height: 450px;}
.main2Box2 .txtBox2{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 1;}
.txtBox2 h2{
    font-size: 6em;
    text-align: end;}
.txtBox2 p{
    font-size: 2em;
    text-align:end;}
.txtBox2 .btn{
    font-size: 2em;
    text-align: end;
    }

/* 메인3의 Box1설정 */
.main3{width: 100%;
    height: 1100px;}
.main3Box1{
    display: flex;
    width: 100%;
    height: 1100px;
    position: relative;}
.main3Box1>.txtBox1{
    width: 50%;}
.main3Box1>.txtBox1 h2{
    font-size: 6em;
    text-align: end;}
.main3Box1>.txtBox1 p{
    font-size: 3em;
    text-align: end;}
.main3Box1>.txtBox1 .btn{
    font-size: 2em;
    text-align: end;
    margin-top: 20px;
    cursor: pointer;}
.main3Box1 .container{
    position: relative;
    width: 50%;
    height:100%;
    right: 0px;
    top:0;
    margin: 0 auto;}
.main3Box1 .container .img{
    margin-right: 20px;
    position: absolute;
    width: 280px; height: 380px;
    border-radius: 20px;}
.txt{
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 380px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
}
.container .img:hover .txt{
    opacity: 1;}
.main3Box1 .container .img:nth-child(1){
    background-image: url(img/product1-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 0;}
.main3Box1 .container .img:nth-child(2){
    background-image: url(img/product1-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 60px;}
.main3Box1 .container .img:nth-child(3){
    background-image: url(img/product1-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 500px}
.main3Box1 .container .img:nth-child(4){
    right: 20px;
    background-image: url(img/product1-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    top: 560px;}

/* 메인3의 Box2설정 */
.main3Box2{
    width: 100%;
    position: relative;
    height: 1100px;
    top:0px;}
.main3Box2 .container{
    position: relative;
    width: 50%;
    height: 100%;
    left:0px;
    margin-left: 20px;}
.main3Box2 .container .img{
    width: 280px; height: 380px;
    position: absolute;
    border-radius: 20px;}
.main3Box2 .container .img:nth-child(1){
    background-image: url(img/product2-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 0;}
.main3Box2 .container .img:nth-child(2){
    background-image: url(img/product2-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 60px;}
.main3Box2 .container .img:nth-child(3){
    background-image: url(img/product2-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 500px}
.main3Box2 .container .img:nth-child(4){
    background-image: url(img/product2-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 560px;}
.main3Box2 .txtBox2{
    width: 50%;
    height:1000px;
    position: absolute;
    right:-100px;
    top: 0px;}
.main3Box2 .txtBox2 p{
    font-size: 5em;
    text-align: left;}
.main3Box2 .txtBox2 .btn{
    font-size: 2em;
    text-align: left;
    margin-top: 20px;
    cursor: pointer;}

/* 메인3의 Box3설정 */
.main3Box3{
    width: 100%;
    position: relative;
    height: 1100px;
    top: 0;
    }
.main3Box3>.txtBox3{
    position: absolute;
    width: 50%;
    height:100%;
    left: -100px;
    top: 0;}
.main3Box3>.txtBox3 p{
    font-size: 5em;
    text-align: end;}
.main3Box3>.txtBox3 .btn{
    font-size: 2em;
    text-align: end;
    margin-top: 20px;
    cursor: pointer;}
.main3Box3 .container{
    position: absolute;
    width: 50%;
    height: 100%;
    right: -50px;
    top: 0;}
.main3Box3 .container .img{
    width: 280px; height: 380px;
    position: absolute;
    border-radius: 20px;
    right: 0px;
    margin-right: 20px;}
.main3Box3 .container .img:nth-child(1){
    background-image: url(img/product3-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 0;}
.main3Box3 .container .img:nth-child(2){
    background-image: url(img/product3-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 60px;}
.main3Box3 .container .img:nth-child(3){
    background-image: url(img/product3-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 500px}
.main3Box3 .container .img:nth-child(4){
    background-image: url(img/product3-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 560px;}
/* 메인4 설정 */
.main4{
    height: 100%;
    height: 100%;
    left: 0;
    }
.main4 .container{
    height: 100vh;}
.main4 .container > * {min-width: 100vw;}
section:not(.main4) {
    min-height: 100vh;}
.main4 article{
    height: 100vh;
    width: auto;}
.main4 .sld1{
    width: 100%; height: 100vh;
    background-color: rgb(150, 103, 41);
    background-image: url(img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.main4 .sld2{
    width: 100%; height: 100vh;
    background-image: url(img/smog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.main4 .sld3{
    width: 100%; height: 100vh;
    background-color: burlywood;
    background-image: url(img/map1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.main4 .sld4{
    width: 100%; height: 1000px;
    background-color: aqua;
    background-image: url(img/map2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.main4 .sld5{
    width: 100%; height: 100vh;
    background-color: #ffb941;
    background-image: url(img/map3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.main4 .sld6{
    width: 100%; height: 100vh;
    background-color: #c00000;
    background-image: url(img/map4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.main4 .sld7{
    width: 100%; height: 100vh;
    background-color: #444;
    position:relative;}
.black{
    width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
.endImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100vh;
    background-image: url(img/end.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }
footer{
    position: relative;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 99999;
    padding: 10px 10px;
    padding-top: 20px;
    background-color: #747474;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.1;}






























/* 미디어쿼리 */
/* 1440px 이상일때 */
@media(min-width:1440px){
#wrap {
    width:1280px;
    margin-left: auto;
    margin-right: auto;}
    }

