/* 언어설정 */
@charset 'UTF-8';

/* 전체설정 */
*{margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #888;}
img {border: none; 
    vertical-align: bottom;}   /*기본으로 해주면 좋음*/
html {scroll-behavior:smooth;}

/* 전체화면설정 */
.wrapper{
    width: 800px;
    margin: 0 auto;  
    }
section h2 {
    text-align: center;
    font-family: Impact,sans-serif;
    font-size: 80px;
    font-weight: normal;}
section {
    padding: 7em 0;} 
section .wrapper {padding: 4em 1em;}
#about {
    background-color: #fff;
    height: 100vh;
    }
#news {background-color: #ccc;}
#speakers {background-color: #bbb;}
#ticket {
    background-color: #aaa;
    height: auto;}

/* 헤더설정 */
header {
    background-color: #333;
    width: 100%;
    padding: 16px 0;
    position:fixed;
    left: 0; top: 0;
    z-index: 1;
    font-family: Impact,sans-serif;
    font-weight: normal;}
header .wrapper {
    display: flex;
    justify-content: space-between;}
header .logo {
    display: block;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    }
nav ul {display: flex;}
nav li {}
nav li a {
    display: block;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    }

/* 메인이미지설정 */
.mainImg {
    text-align: center;
    height: 100vh;
    background-color:#4db1ec;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode:screen;
    display: flex;
    align-items: center;
    animation: bg 24s infinite normal;
    clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0 );}

/* 애니메이션설정 */
@keyframes boldh3 {
    0% {font-weight: bold;
            font-size: 20px;}
    100% {font-weight: normal;
            font-size: 60px;}
    }
@keyframes bg {
    0% {background-color:#4db1ec;}
    12.5% {background-color:#1665cc;}
    25% {background-color:#b473bf;}
    37.5% {background-color:#ffbec1;}
    50% {background-color:#ff9f67 ;}
    62.5% {background-color:#ffd673 ;}
    75% {background-color:#a2e29b ;}
    87.5% {background-color:#00a2af ;}
    100% {background-color:#4db1ec;}
}
.mainImg h3 {
    font-size: 100px;
    /* animation: boldh3 3s infinite alternate; */
    border-bottom: 3px #000 solid;
    padding-bottom: 30px;
    font-family: Impact,sans-serif;
    font-weight: normal;
    }
.mainImg .date {
    font-size: 50px;
    font-family: Impact,sans-serif;
    padding: 20px 0;}
.mainImg .wel{
    font-size: 16px;
    border-top: 3px solid #000;
    padding-top: 30px;
    text-align: left;
    line-height: 1.8;
    }
/* about설정 */
#about h2{
    background:linear-gradient( 0deg,rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 30px ;}
#about p {
    font-size: 16px;
    line-height: 2.0;
    }
#about img{
    width: 800px;
    height: auto;
    padding-top: 50px;
    }


/* nesw 설정 */
#news{
    clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 10% );
    background:linear-gradient( 350deg,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    padding-bottom: 30px ;}
#news h2 {
    background:linear-gradient( 100deg,  rgba(252,255,222,1) 2.2%, rgba(182,241,171,1) 99.3% );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    }
#news ul {
    width: 80%;
    margin: 0 auto;
    }
#news li {}
#news li a {
    display: block;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
    border-bottom: 1px #fff solid;
    }    
#news li a:hover {
    background-color: #fff;
    color: #00a2af;
    }
#news li span {
    margin-right: 10px;
    width: 180px;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    }

/* speakers 설정 */
#speakers {
    background-color: #fff;}
#speakers h2{
    background:linear-gradient(to top, #09203f 0%, #537895 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    padding-bottom: 30px;
    }
#speakers .wrapper>div {
    display: flex;
    margin-bottom: 40px;}
#speakers .txt {
    width: 80%;
    order: 2;
    padding: 10px 40px;}
#speakers img {
    width: 20%;
    order: 1;
    border: none;
    border-radius: 50%;
    border: 1px #fff solid;
    box-sizing: border-box;
    transition: all 0.3s;
    }
#speakers h4 {
    font-size: 20px;
    font-weight: normal;
    }
#speakers .wrapper img:hover{
    border: 1px #fff solid;
    padding: 10px;
    box-sizing: border-box;
    filter:blur(1000px);
    }

/* ticket설정 */
#ticket{
    background-color: #55bed1;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 5% );
    }
#ticket h2 {
    background:linear-gradient( 0deg,  rgba(174,231,165,0.90) 0%, rgba(181,205,154,1) 90% );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    }
#ticket form {
    width: 500px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    }
#ticket label {
    color: #fff;
    margin-bottom: 0.5em;
    }
#ticket .ticket {
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    /* outline: none; */
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    }
#ticket .ticket:focus {outline: none;}
#ticket .btn {
    width: 100%;
    padding: 1em;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;}
#ticket .btn:hover {background-color: #1665cc;}
/* 카피라이트 설정 */
.copy {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 80px;
    padding-top: 40px ;
    color: #fff;
    text-align: center;
}
.copy p {
    color: #fff;
    text-align: center;
    }