/* 언어설정 */
@charset "UTF-8";

/* 웹폰트설정 */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

/* 전체설정 */
body {
  font-family: "Dongle", sans-serif;
  line-height: 1;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+8,f1f1f1+8,f1f1f1+9,f1f1f1+11,f1f1f1+16,f1f1f1+16,9e9e9e+25,e1e1e1+47,e1e1e1+51,e1e1e1+62,9e9e9e+80,9e9e9e+80,f6f6f6+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #fff); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #ffffff
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( ); /* IE6-9 fallback on horizontal gradient */
}
ul {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
img {
  vertical-align: top;
}

/* 기본css */

/* 내부영역설정 */
#body {
  overflow: hidden;
}
#wrap section {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#wrap > img {
  transition: all 1s;

  animation: ani 1s;
}

@keyframes ani {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}
/* 인포메이션영역 */
.info_section {
  display: block;
  order: 0s;
  position: absolute;
  width: auto;
  top: 10px;
  right: 30px;
  z-index: 50;
  background-color: rgb(180, 180, 180);
}
.info_list {
  display: flex;
}
.info_list > li {
  width: auto;
}
.info_list > li > a {
  display: block;
  padding: 30px;
  color: #fff;
  font-size: 20px;
}

/* 헤더영역 */
/* 토글버튼 */
.menu_toggle_btn {
  display: none;
}
.sub_menu_toggle_btn {
  display: none;
}

.header {
  z-index: 30;
}

.header > h1 {
  width: 20%;
  line-height: 1;
  position: absolute;
  text-align: center;
  background-color: rgb(180, 180, 180);
  left: 0;
  top: 0;
  z-index: 10;
  border-radius: 0 0 40% 40%;
}
.logo > a {
  display: block;
  padding: 70px 0;
  top: 0;
  left: 0;
  transition: all 2s;
  animation: ani 2s;
}

@keyframes ani {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}
.header > nav {
  width: 80%;
  background-color: rgb(180, 180, 180);
  display: flex;
  align-items: center;
}

.gnb {
  display: flex;
  justify-content: space-around;
}
.gnb > li {
  width: auto;
}
.gnb > li > a {
  display: block;
  font-size: 25px;
  padding: 0 80px;
  color: #fff;
}
.gnb > li > a:hover {
  font-weight: bold;
  transform: scale(1.1);
}
/* 슬라이더섹션영역 */
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
  z-index: 10;
}
.slider > span {
  width: 34px;
  height: 39px;
  cursor: pointer;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
span.prev_btn {
  background-image: url(../img/slider_arrow.png);
  background-position: top left;
}
span.next_btn {
  background-image: url(../img/slider_arrow.png);
  background-position: top right;
}

/* 갤러리영역설정 */
.gallery {
  display: flex;
  justify-content: center;
  align-content: center;
}
.gallery > .gallery-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
}
.gallery_list > li {
  width: 100%;
  height: auto;
  padding: 10px;
}
.gallery_list > li:nth-child(1) {
  margin-top: 30px;
}
.gallery_list > li > a {
  display: block;
  filter: grayscale(100);
  transition: all 0.5s;
}
.gallery_list figure {
  text-align: center;
}
.gallery_list img {
  width: 200px;
  height: auto;
}
.gallery_list figcaption {
  margin-top: 10px;
  font-size: 35px;
  color: #fff;
}
.gallery_list > li > a:hover {
  filter: grayscale(0);
}
/*  블로그 */
.rankup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rankup > .title {
  margin-bottom: 30px;
  font-size: 45px;
  text-align: center;
  color: #fff;
}
.rankup > .rankup_list {
}
.rankup_list > li {
}
.rankup_list > li > a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  border-bottom: 0.1px #888 solid;
}
.rankup_list > li > a:hover {
  border-bottom: #fff 0.1px solid;
}

/* 최근글영역 */
.latest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.latest .title {
  margin-bottom: 30px;
  font-size: 45px;
  text-align: center;
  color: #fff;
}
.latest_list {
}
.latest_list li {
}
.latest_list a {
  display: block;
  padding: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: normal;
  transition: all 1s;
}
.latest_list a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}
/* 인기글영역 */
.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.popular .title {
  margin-bottom: 30px;
  font-size: 45px;
  text-align: center;
  color: #fff;
}
.popular_list li {
}
.popular li a {
  display: block;
  padding: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: normal;
  transition: all 1s;
}
.popular a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}
/* 배너영역 */
.banner {
}
.banner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.banner1 a {
  display: block;
  width: 100px;
}
.banner1 svg {
  width: 100%;
  fill: #fff;
}
.banner1 a:hover svg {
  transform: scale(1.2);
}
.banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.banner_list {
  display: flex;
}
.banner_list li {
}
.banner_list a {
  display: block;
  font-size: 70px;
  text-align: center;
  padding: 0 50px;
}
.banner_list i {
  color: #fff;
}
.banner2 a:hover i {
  transform: scale(1.5);
}

/* 소셜영역 */
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666;
}
.social_list {
}
.social_list li {
  margin: 10px 0px;
  padding: 30px 0;
}
.social_list a {
  display: flex;
  background-color: #666;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.social_list li:hover a {
  transform: scale(1.5);
}
.social_list i {
  font-size: 30px;
  color: #fff;
}
.social_list li:nth-child(1) a {
  background-color: #833ab4;
}
.social_list li:nth-child(2) a {
  background-color: #ff0000;
}
.social_list li:nth-child(3) a {
  background-color: #fbbc05;
}

/* 푸터영역 */
.footer {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.footer p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 30px 20px;
  letter-spacing: 2px;
}

/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더영역 */
.header {
  order: 1;
}

/* 슬라이더영역 */
.slider {
  order: 2;
}

/* 갤러리영역 */
.gallery {
  order: 3;
}

/* 인기검색어영역 */
.rankup {
  order: 4;
}

/* 최신글영역 */
.latest {
  order: 5;
}

/* 인기글영역 */
.popular {
  order: 6;
}

/* 배너섹션 */
.banner {
  order: 7;
}

/* sns섹션 */
.social {
  order: 8;
}

/* 푸터영역 */
.footer {
  order: 9;
}

/* 미디어쿼리 구간--------------------------------------------- */
/* 모바일 구간 767px 이하일때 */
@media (max-width: 767px) {
  #wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    border: none;
  }

  /* 인포메이션영역 */
  .info_section {
    display: block;
    order: 0s;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: #666;
  }
  .info_list {
    display: flex;
    width: 100%;
    height: auto;
  }
  .info_list > li {
    width: 25%;
    height: auto;
  }
  .info_list > li > a {
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  /* 헤더영역 */
  /* 토글버튼 */
  .menu_toggle_btn {
    display: none;
  }
  .sub_menu_toggle_btn {
    display: none;
  }

  .header {
    z-index: 30;
  }

  .header > h1 {
    width: 100%;
    line-height: 1;
    position: absolute;
    text-align: center;
    background-color: #666;
    left: 0;
    top: 0;
    z-index: 10;
    height: auto;
    border-radius: 0 0 0 0;
    border-bottom: none;
  }
  .logo > a {
    display: block;
    padding: 70px 0;
    top: 0;
    left: 0;
  }
  .header > nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
  }

  .gnb {
    display: none; /* 토글버튼 클릭시 변화할 부분 */
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: -60%;
    width: 100%;
  }
  .gnb > li {
    width: 40%;
    background-color: #666;
    display: flex;
    position: relative;
  }
  .gnb > li > a {
    display: block;
    font-size: 20px;
    padding: 20px 10px;
    color: #fff;
  }

  /* 토글버튼 */
  .menu_toggle_btn {
    display: block;
    position: absolute;
    z-index: 60;
    top: 0;
    right: 0;
    background-image: url(../img/menu_toggle_btn.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    top: 70px;
    right: 50px;
  }
  .sub_menu_toggle_btn {
    display: block;
    background-image: url(../img/sub_menu_toggle_btn.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    padding: 20px 0;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  /* 슬라이더섹션영역 */
  .slider {
    width: 100%;
    height: 500px;
    margin-top: 100px;
  }
  /* 갤러리영역설정 */
  .gallery {
    width: 100%;
  }
  .gallery_list {
    flex-direction: row;
  }
  .gallery_list > li {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .gallery_list > li > a {
    display: block;
    filter: grayscale(0);
  }
  .gallery_list img {
    width: 100%;
    height: auto;
  }
  /*  코딩트랜드영역 */
  .rankup {
    width: 100%;
    padding: 20px;
  }
  /* 최근글영역 */
  .latest {
    width: 100%;
    height: 320px;
    padding: 20px;
  }
  /* 인기글영역 */
  .popular {
    width: 100%;
    padding: 20px;
    background-color: #888;
  }
  /* 배너영역 */
  .banner {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: none;
  }
  .banner > div {
    flex: 1;
  }
  .banner1 a {
    display: block;
    width: 80px;
    padding: 0px 0;
  }
  .banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }
  .banner1 svg {
    width: 100%;
    height: 300px;
    fill: #fff;
  }
  .banner2 {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #888;
  }
  .banner_list {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .banner_list li {
  }
  .banner_list a {
    display: block;
    width: 42px;
    padding: 20px 30px;
  }

  /* 소셜영역 */
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social_list {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .social_list li {
    margin: 0px 0;
    padding: 20px;
  }
  .social_list a {
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
  }
  .social_list i {
    font-size: 30px;
    color: #fff;
  }
  .social {
    background-color: #888;
    width: 100%;
  }

  /* 푸터영역 */
  .footer {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  .footer p {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 30px 20px;
    letter-spacing: 2px;
  }

  /* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /* 헤더영역 */
  .header {
    order: 1;
  }

  /* 슬라이더영역 */
  .slider_section {
    order: 2;
  }

  /* 갤러리영역 */
  .gallery_section {
    order: 5;
  }

  /* 인기검색어영역 */
  .rankup_section {
    order: 6;
  }

  /* 최신글영역 */
  .latest_post_section {
    order: 3;
  }

  /* 인기글영역 */
  .popular_post_section {
    order: 4;
  }

  /* 배너섹션 */
  .banner_section {
    order: 7;
  }

  /* sns섹션 */
  .social_section {
    order: 8;
  }

  /* 푸터영역 */
  .footer {
    order: 9;
  }
}
/* 태블릿구간 768px이상 1139px 이하구간 */
@media (min-width: 768px) and (max-width: 1139px) {
  /* 인포섹션 */
  .info_section {
    order: 0s;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: #999;
    border-bottom: #fff solid 0.5px;
  }
  .info_list {
    display: flex;
    width: 100%;
  }
  .info_list > li {
    width: 25%;
  }
  .info_list > li > a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }

  /* 헤더영역 */
  .header {
    display: flex;
    flex-wrap: wrap;
  }

  .header > h1 {
    width: 100%;
    line-height: 1.3;
    position: absolute;
    text-align: center;
    background-color: #888;
    left: 0;
    top: 40px;
    z-index: 10;
    height: auto;
    border-radius: 0 0 0 0;
    border-bottom: solid 0.5px #999;
  }
  .logo > a {
    display: block;
    padding: 70px 0;
    text-align: center;
  }
  .header > nav {
    width: 100%;
    background-color: #999;
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
  }

  .gnb {
    display: none; /* 토글버튼 클릭시 변화할 부분 */
    flex-direction: column;
    position: absolute;
    top: 193px;
    right: -60%;
    width: 100%;
  }
  .gnb > li {
    width: 40%;
    background-color: #444;
    display: flex;
    position: relative;
  }
  .gnb > li > a {
    display: block;
    font-size: 23px;
    padding: 20px 10px;
    color: #fff;
  }

  /* 토글버튼 */
  .menu_toggle_btn {
    display: block;
    position: absolute;
    z-index: 60;
    top: 0;
    right: 0;
    background-image: url(../img/menu_toggle_btn.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    top: 70px;
    right: 50px;
  }
  .sub_menu_toggle_btn {
    display: block;
    background-image: url(../img/sub_menu_toggle_btn.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    padding: 20px 0;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .slider {
    background-color: #999;
    width: 50%;
    height: auto;
    text-align: center;
    margin-top: 95px;
  }
  /* 텍스트 중앙정렬 */
  .gallery {
    background-color: #999;
    width: 50%;
  }
  .gallery_list {
    flex-direction: row;
    margin-top: 100px;
  }
  .rankup {
    background-color: #888;
    width: 33.3333%;
    border-top: #555 solid 0.1px;
  }
  .latest {
    background-color: #888;
    width: 33.3333%;
    height: 340px;
    border: #555 solid 0.1px;
    border-bottom: none;
  }
  .popular {
    background-color: #888;
    width: 33.3333%;
    border-top: #555 solid 0.1px;
    border-bottom: none;
  }
  .banner {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .banner > div {
    flex: 1;
  }
  .banner1 {
    background-color: #666;
  }
  .banner2 {
    background-color: #666;
  }
  /* 배너2 */
  .banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-bottom: solid 0.1px #555;
  }
  .banner1 a {
    display: block;
    width: 100px;
    padding: 20px 0px;
  }
  .banner1 svg {
    width: 100%;
    height: auto;
    fill: #fff;
  }
  .banner2 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner2_list {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .banner_list li a {
    display: block;
    width: 50px;
    padding: 50px 80px;
    color: #fff;
  }
  .banner_list li a i {
    width: 100%;
    justify-content: space-around;
  }
  /* 소셜영역 */
  .social {
    background-color: #666;
    width: 50%;
  }
  .social_list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  /* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /* 헤더영역 */
  .header {
    order: 1;
  }

  /* 슬라이더영역 */
  .slider_section {
    order: 2;
  }

  /* 갤러리영역 */
  .gallery_section {
    order: 3;
  }

  /* 인기검색어영역 */
  .rankup_section {
    order: 4;
  }

  /* 최신글영역 */
  .latest_post_section {
    order: 5;
  }

  /* 인기글영역 */
  .popular_post_section {
    order: 6;
  }

  /* 배너섹션 */
  .banner_section {
    order: 7;
  }

  /* sns섹션 */
  .social_section {
    order: 8;
  }

  /* 푸터영역 */
  .footer {
    order: 9;
  }
}

/* 웹구간 1140px*/
@media (min-width: 1140px) {
  .gnb {
    display: flex !important;
  }
}
