@charset 'UTF-8';

* {margin: 0;
    padding: 0;}
img {vertical-align: bottom;}
ul {list-style: none;}   


/* 레이아웃 */
.wrap {width: 800px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 300px;
}
.box_img {width: 760px;
        height: 470px;
    background-color: #333;
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;}
.thumbnail {height: 75px;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;}


/* 박스이미지 를 한곳에 모아둠 */
.box_img>p {position: absolute;
        left: 0;
    top: 0;
display: none;}
.box_img>p:nth-child(1) {display: block;}

    /* 컨테이너 이미지를 가로정렬 */

    .container {width: 720px;
    height: 75px;
overflow: hidden;
position: relative;}
    .container ul {display: flex;
    position: absolute;
    width:2440px ;
    left:0px;
top: 0;
transition: all 0.8s;}
    .container li {margin-right: 1.7px;}   
    /* 좌우버튼설정 */
    .left {margin-right: 2px;}
    .right {margin-left: 2px;}

.popUp {position: absolute;
left: 0;
top: 0;
background-color: rgba(255, 255, 255, 0.6);
width: 100%;
height: 100%;

text-align: center;
line-height: 4;
font-size: 20px;
font-weight: bold;
letter-spacing: 10px;
display: none;

}