/* 언어설정 */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


/* 전체설정 */
*{margin: 0; padding:0;}
ul { list-style: none;}
a {text-decoration: none; color: #000;font-family: 'Poiret One', cursive;}
img {border: none; vertical-align: bottom;}
body{font-family: 'Poiret One', cursive;}
/* font-family: 'Poiret One', cursive; */


/* 1600px이상 구간 */
/* 레이아웃 설정 */
header {
    position: fixed;
    background-color:#fff;
    width: 15%;
    height: 100%;
    }
nav {
    width: 85%;
    height: 35px;
    background-color: #000;
    margin-left: 15%;
    }
section {
    width: 85%;
    height: auto;
    background-color: rgb(164, 229, 151);
    margin-left: 15%;
    }
article {height: 260px; float: left; width: 20%;}

article:nth-child(1){background-color: #ddd; height: 520px; width: 60%;}
article:nth-child(2){background-color: #ccc; width: 40%;}
article:nth-child(3){background-color: #bbb;}
article:nth-child(4){background-color: #aaa;}
article:nth-child(5){background-color: #999;}
article:nth-child(6){background-color: #888; width: 40%;}
article:nth-child(7){background-color: #777;}
article:nth-child(8){background-color: #666;}
article:nth-child(9){background-color: #555; width: 40%;}
article:nth-child(10){background-color: #444;}
article:nth-child(11){background-color: #333;}
article:nth-child(12){background-color: #222;}

/* header 콘텐츠 */
header h1 {
    background-image: url(../img/logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    width: 180px; height: 136px;
    position: absolute;
    left: 50%; margin-left: -90px;
    top: 70px;}
#gnb {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 100%;
    right: 0;}
#gnb li {}
#gnb a {
    display: block;
    padding: 8px 30px;
    font-size: 22px;
    font-weight: bold;
    color: #555;
    line-height: 1.8;
    text-align: center;
    transition: all 0.5s;}

.snsSet {
    position: absolute;
    bottom: 50px;
    width: 90px;
    right: 50%;
    margin-right: -45px;}
.snsSet a {
    float: left;
    }
.snsSet img {
    max-width: 100%;
    }

/* nav콘텐츠 설정 */
nav {position: relative;}
nav a {position: absolute; top: 5px; background-color: #212121;}
nav img{max-width: 100%;}
nav a:nth-child(1){left: 10px;}
nav a:nth-child(2){left: 150px;}
nav a:nth-child(3){right: 96px;}
nav a:nth-child(4){right: 10px;}

/* 배경이미지 삽입 */
.bg {cursor: pointer;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;}
.bg span {
    font-size: 60px;
    position: absolute;
    right: 0; bottom: 0;
    color: #fff;
    right: 20px;
    opacity: 0;
    transform: scale(10);
    transition: all 0.5s;
    }

article:nth-child(1) span{
    font-size: 170px;
    opacity: 1;
    transform: scale(1);
    bottom: -40px;}

article:nth-child(1) div{background-image: url(../img/pic1.jpg);}
article:nth-child(4) div{background-image: url(../img/pic2.jpg);}
article:nth-child(5) div{background-image: url(../img/pic3.jpg);}
article:nth-child(7) div{background-image: url(../img/pic4.jpg);}
article:nth-child(9) div{background-image: url(../img/pic5.jpg);}
article:nth-child(10) div{background-image: url(../img/pic6.jpg);}
article:nth-child(12) div{background-image: url(../img/pic7.jpg);}

article:hover span {
    opacity: 1;
    transform: scale(1);
    }
article:nth-child(1):hover span {
    opacity: 0.8;
    transform: scale(1);
    color: #000;
}

/* 텍스트 삽입 */
.txt {cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    box-sizing: border-box;
    color: #000;
    background-color: #fff;
    }
article strong {
    display: block;
    font-size: 30px;
    font-weight: normal;}
article em {
    font-size: 16px;
    font-style: normal;
    margin-top: 10px;
    display: block;
    }
article:nth-child(3) div {background-color: #bff7fa; color: #000;}
article:nth-child(11) div {background-color: #e3f1fb; color: #000;}

#gnb a:hover {
    color:  #bff7fa;}

/* 미디어쿼리구간설정 */

/* 1280px이상 1599px이하 구간----------------1구간 */
@media(min-width:1280px) and (max-width:1599px){
    header {
        position: relative;
        width: 100%;
        height: 80px;
        }
    nav {
        position: absolute;
        width: 100%;
        height: 35px;
        margin-left: 0;
        }
    section {
        width: 100%;
        margin-left: 0%;
        }

/* header 콘텐츠 */
    header h1 {
        background-image: url(../img/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        width: 200px; height: 40px;
        position: absolute;
        left: 20px; margin-left:0;
        top: 20px;}
    #gnb {
        position: absolute;
        top: 20px;
        margin-top: 0px;
        width: auto;
        right: 200px;}
    #gnb li {
        float: left;
        
    }
    #gnb a {
        display: block;
        padding: 8px 30px;
        font-size: 22px;
        font-weight: bold;
        color: #555;
        line-height: 1.8;
        text-align: center;}

    .snsSet {
        position: absolute;
        bottom: 20px;
        width: 90px;
        right: 80px;
        margin-right: -45px;}
    .snsSet a {
        float: left;
        }
    .snsSet img {
        max-width: 100%;
        }
}

/* 1024px이상 1279px이하 구간 -------------------2구간*/
@media(min-width:1024px) and (max-width:1279px){
    header {
        position: relative;
        width: 100%;
        height: 80px;
        }
    nav {
        position: absolute;
        width: 100%;
        height: 35px;
        margin-left: 0;
        z-index: 3;
        }
    section {
        width: 100%;
        margin-left: 0%;
        margin-top: 35px ;
        }
    article {height: 260px; float: left; width: 25%;}
    article:nth-child(1){background-color: #ddd; height: 520px; width: 75%;}
    article:nth-child(2){background-color: #ccc; width: 25%;}
    article:nth-child(3){background-color: #bbb;}
    article:nth-child(4){background-color: #aaa;}
    article:nth-child(5){background-color: #999;}
    article:nth-child(6){background-color: #888; width: 50%;}
    article:nth-child(7){background-color: #777; width: 50%;}
    article:nth-child(8){background-color: #666;}
    article:nth-child(9){background-color: #555; width: 25%;}
    article:nth-child(10){background-color: #444; width: 50%;}
    article:nth-child(11){background-color: #333;}
    article:nth-child(12){background-color: #222;}  

/* header 콘텐츠 */
    header h1 {
        background-image: url(../img/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        width: 200px; height: 40px;
        position: absolute;
        left: 20px; margin-left:0;
        top: 20px;}
    #gnb {
        position: absolute;
        top: 20px;
        margin-top: 0px;
        width: auto;
        right: 40px;}
    #gnb li {
        float: left;
        
    }
    #gnb a {
        display: block;
        padding: 8px 40px;  
        font-size: 18px;
        font-weight: bold;
        color: #555;
        line-height: 1.8;
        text-align: center;}

    .snsSet {
        position: absolute;
        bottom: 20px;
        width: 90px;
        right: 80px;
        margin-right: -45px;
        display: none;}
    .snsSet a {
        float: left;
        }
    .snsSet img {
        max-width: 100%;
        }
}

/* 780px이상 1023px이하 구간 ---------------------3구간 */
@media(min-width:780px) and (max-width:1023px){
    header {
        position: relative;
        width: 100%;
        height: 80px;
        }
    nav {
        position: absolute;
        width: 100%;
        height: 35px;
        margin-left: 0;
        z-index: 5;
        }
    section {
        width: 100%;
        margin-left: 0%;
        margin-top: 35px;
        }
    article {height: 260px; float: left; width: 33.3333%;}
    article:nth-child(1){background-color: #ddd; height: 400px; width: 100%;}
    article:nth-child(2){background-color: #ccc; width: 66.6666%;}
    article:nth-child(3){background-color: #bbb;}
    article:nth-child(4){background-color: #aaa; display: none;}
    article:nth-child(5){background-color: #999;}
    article:nth-child(6){background-color: #888; width: 66.6666%;}
    article:nth-child(7){background-color: #777; width: 50%; display: none;}
    article:nth-child(8){background-color: #666;}
    article:nth-child(9){background-color: #555; width: 33.3333%;}
    article:nth-child(10){background-color: #444; width: 50%; display: none;}
    article:nth-child(11){background-color: #333;}
    article:nth-child(12){background-color: #222;display: none;}  

    /* header 콘텐츠 */
    header h1 {
        background-image: url(../img/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        width: 200px; height: 40px;
        position: absolute;
        left: 20px; margin-left:0;
        top: 20px;}
    #gnb {
        position: absolute;
        top: 20px;
        margin-top: 0px;
        width: auto;
        right: 30px;}
    #gnb li {
        float: left;
        
    }
    #gnb a {
        display: block;
        padding: 8px 15px;
        font-size: 18px;
        font-weight: bold;
        color: #555;
        line-height: 1.8;
        text-align: center;}

    .snsSet {
        position: absolute;
        bottom: 20px;
        width: 90px;
        right: 80px;
        margin-right: -45px;
        display: none;}
    .snsSet a {
        float: left;
        }
    .snsSet img {
        max-width: 100%;
        }
}

/* 640px이상 779px이하 구간 --------------------------4구간*/
@media(min-width:640px) and (max-width:779px){
    header {
        position: relative;
        width: 100%;
        height: 80px;
        }
    nav {
        position: absolute;
        width: 100%;
        height: 35px;
        margin-left: 0;
        z-index: 5;
        }
    section {
        width: 100%;
        margin-left: 0%;
        margin-top: 35px;
        }
    article {height: 260px; float: left; width: 50%;}
    article:nth-child(1){background-color: #ddd; height: 400px; width: 100%;}
    article:nth-child(2){background-color: #ccc; width: 100%;}
    article:nth-child(3){background-color: #bbb;display: none;}
    article:nth-child(4){background-color: #aaa; display: none;}
    article:nth-child(5){background-color: #999;}
    article:nth-child(6){background-color: #888; width: 50%;}
    article:nth-child(7){background-color: #777; width: 50%; display: none;}
    article:nth-child(8){background-color: #666;}
    article:nth-child(9){background-color: #555; width: 50%;}
    article:nth-child(10){background-color: #444; width: 50%; display: none;}
    article:nth-child(11){background-color: #333;}
    article:nth-child(12){background-color: #222;}  

    /* header 콘텐츠 */
    header h1 {
        background-image: url(../img/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        width: 200px; height: 40px;
        position: absolute;
        left: 20px; margin-left:0;
        top: 20px;}
    #gnb {
        position: absolute;
        top: 20px;
        margin-top: 0px;
        width: auto;
        right: 20px;}
    #gnb li {
        float: left;
        
    }
    #gnb a {
        display: block;
        padding: 10px 10px;
        font-size: 17px;
        font-weight: bold;
        color: #555;
        line-height: 1.8;
        text-align: center;}

    .snsSet {
        position: absolute;
        bottom: 20px;
        width: 90px;
        right: 80px;
        margin-right: -45px;
        display: none;}
    .snsSet a {
        float: left;
        }
    .snsSet img {
        max-width: 100%;
        }
}

/* 480px이상 639px이하 구간 -----------------------5구간 */
@media(min-width:480px) and (max-width:639px){
    header {
        position: relative;
        width: 100%;
        height: 130px;
        }
    nav {
        position: absolute;
        width: 100%;
        height: 35px;
        margin-left: 0;
        display: none;
        }
    section {
        width: 100%;
        margin-left: 0%;
        }
    article {height: 150px; float: left; width: 50%;}
    article:nth-child(1){background-color: #ddd; height: 300px; width: 100%;}
    article:nth-child(2){background-color: #ccc; width: 100%;}
    article:nth-child(3){background-color: #bbb;display: none;}
    article:nth-child(4){background-color: #aaa; display: none;}
    article:nth-child(5){background-color: #999;}
    article:nth-child(6){background-color: #888; width: 50%;}
    article:nth-child(7){background-color: #777; width: 50%; display: none;}
    article:nth-child(8){background-color: #666;}
    article:nth-child(9){background-color: #555; width: 50%;}
    article:nth-child(10){background-color: #444; width: 50%; display: none;}
    article:nth-child(11){background-color: #333;}
    article:nth-child(12){background-color: #222;} 

    /* header 콘텐츠 */
    header h1 {
        background-image: url(../img/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px;
        width: 200px; height: 40px;
        position: relative;
        left: 20px; margin-left:0;
        top: 20px;
        margin: 0 auto;}
    #gnb {
        position: relative;
        top: 20px;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        right:0;
        background-color: #FFF;}
    #gnb li {
        float: left;
        width: 25%;
        }
    #gnb a {
        display: block;
        padding: 4px 4px;
        font-size: 17px;
        font-weight: bold;
        color: #555;
        line-height: 1.8;
        text-align: center;}

    .snsSet {
        position: absolute;
        bottom: 20px;
        width: 90px;
        right: 80px;
        margin-right: -45px;
        display: none;}
    .snsSet a {
        float: left;
        }
    .snsSet img {
        max-width: 100%;
        }
}    

/* 479px이하 구간 ----------------------------6구간*/
@media(max-width:479px){
    header {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 10;}

    nav{display: none;}
    section {
        width: 100%;
        margin-left: 0;
        z-index: 2;}
    article {display: none;}
    article:nth-child(1){
        display: block;
        width: 100%; 
        height:100%; 
        position: fixed;
        }
     /* header 콘텐츠 */
    header h1 {
        background-image: url(../img/logo1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        text-indent: -9999px;
        width: 140px; height: 136px;
        position: absolute;
        left: 50%; margin-left: -70px;
        top: 20px;}
    #gnb {
        position: absolute;
        top: 140px;
        margin-top: 50px;
        width: 250px;
        right: 50%;
        margin-right:-125px;}
    #gnb li {margin-bottom: 15px ;}
    #gnb a {
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        border-radius: 10px;
        padding: 8px 10px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 1.8;
        text-align: left;
        transform: scale(1);
        color: #fff;
        transition: all 0.5s;
        padding-left: 60px;}

    .snsSet {
        position: absolute;
        bottom: 50px;
        width: 90px;
        right: 50%;
        margin-right: -45px;
        display: none;}
    .snsSet a {
        float: left;
    }
    .snsSet img {
        max-width: 100%;
    }
/* 배경글씨조절 */
article span {display: none;}

#gnb a:hover {
    background-color: #000;
    transform: scale(1.1);
    color:  #bff7fa;
}


}