/* 언어설정 */
@charset "UTF-8";

/* 웹폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */
body {font-family: 'Nanum Gothic', sans-serif;
        line-height: 1;
        background: linear-gradient(to top, #666666, #ffffff);}
    /* css제너레이터활용가능 
        https://www.colorzilla.com/gradient-editor/*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+33,bfe8f9+33,9fd8ef+45,2ab0ed+100 */

ul {list-style: none;}
a {color: #333;
    text-decoration: none;} 
img {vertical-align: top;}

/* 기본CSS */

/* 내부영역설정 */
#body {overflow-x: hidden;}
#wrap section {box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;}

/* 인포섹션설정 */
.info_section {
        order: 0s;
        position:absolute;
        width: auto;
        top: 30px;
        right: 30px;
        z-index: 50;
        background-color: #2ecc71;
        }
.info_list {display: flex;}
.info_list>li {width: auto}
.info_list>li>a {display: block;
                padding: 10px;
                color: #fff;
                font-size: 20px;}

/* 헤더영역 */
/* 토글버튼 */
.menu_toggle_btn {display: none;}
.sub_menu_toggle_btn {display: none;}

.header {z-index: 30;}
.header>h1 {
        width: 12.5%;
        position: absolute;
        left: 0; top: 0;
        font-size: 21px;
        line-height: 1.3;
        text-align: center;
        background-color: #2ecc71;
        z-index: 10;
        }
.header>h1>a {
        display: block;
        padding: 30px 0;
        color: #fff;
        }
.header>nav {
        width: 87.5%;
        background-color: #2ecc71;
        display: flex;
        align-items: center;}   

.gnb {display: flex;}
.gnb>li {width: auto;}
.gnb>li>a {display: block;
        font-size: 20px;
        padding: 0 50px;
        color: #fff;}
.gnb>li>a:hover {
        font-weight: bold;
        }

/* 슬라이더섹션영역 */
.slider_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: auto;
        z-index: 10;
        }
.slider_section>span {
        width: 34px;
        height: 39px;
        cursor: pointer;
        text-indent: -9999px;
        background-repeat: no-repeat;
        }
span.prev_btn {
        background-image: url(../img/slider_arrow.png);
        margin-left: -10px;
        background-position: top left;}
span.next_btn {
        background-image: url(../img/slider_arrow.png);
        margin-right: -10px;
        background-position: top right;   
        }
        
/* 갤러리영역설정 */
.gallery_section {
        display: flex;
        justify-content: center;
        align-items: center;
        }
.gallery_list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px 0
        }
.gallery_list>li {
        width: 200px;
        height: auto;
        padding:10px;
        }
.gallery_list>li>a {
        display: block;
        color: #fff;
        filter: grayscale(100%)
        }
.gallery_list>li>a:hover{
        filter: grayscale(0%);
        color: #333;
        }

.gallery_list figure {
        text-align: center;
        }
.gallery_list img {
        width: 200px;
        height: 100px;
        }
.gallery_list figcaption {
        margin-top: 10px;
        }

/* 인기검색어영역 */
.rankup_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
.rankup_section .title {
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        letter-spacing: 10px;}
.rankup_section .title::after{
        content: "( 2022-12 update) ";
        display: block;
        font-size: 14px;
        margin-top: 10px;
        font-weight: normal;
        color: #666;
        letter-spacing: 1px;}
.rankup_section .rankup_list {}
.rankup_section .rankup_list>li {
        margin-bottom: 15px;
        }
.rankup_section .rankup_list>li>a {
        display: block;
        padding: 10px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        background-image: url(../img/circle-right-regular.svg);
        background-repeat:no-repeat;
        background-size: 10%;
        background-position: left center;
        text-indent: 20px;}

.rankup_list>li>a:hover {color: #000;}


/* 최근글영역 */
.latest_post_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
.latest_post_section .title {
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
        color: #fff;
}
.latest_post_section>.latest_post_list {}
.latest_post_list li {}
.latest_post_list li a { display: block;
        padding: 10px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;}
.latest_post_list li a:hover {
        text-decoration:underline;
        }
.latest_post_section em {
        font-size: 18px;
        font-style: normal;
        margin-right: 5px;
        color: rgb(4, 30, 145);}

        

/* 인기글영역 */
.popular_post_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
.popular_post_section .title {
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        }
.popular_post_section>.latest_post_list {}
.popular_post_list li {}
.popular_post_list li a { display: block;
        padding: 10px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        }
.popular_post_list li a:hover {
        text-decoration:underline;
        }
.popular_post_section em {
        font-size: 18px;
        font-style: normal;
        margin-right: 5px;
        color: rgb(228, 231, 5);}

/* 배너영역 */
.banner_section {}
.banner_box_01 {
        display: flex;
        justify-content: center;
        align-items:center;
        height: 135px;
        }
.banner_box_01 a {
        display: block;
        width: 100px;
        }
.banner_box_01 svg {
        width: 100%;
        height: auto;
        fill: #fff;
        transition: all 0.4s;}
.banner_box_01 a:hover svg {
        transform:scale(1.2);
        }
.banner_box_02 {
        height: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
.banner_box_02 .banner_list {
        display: flex;
        }
.banner_list li {}
.banner_list li a {
        display: block;
        width: 42px;
        padding: 0 10px;
        }
.banner_list li a svg {
        fill: #fff;
        }
.banner_box_02 a:hover svg {
                transform:scale(1.2);
                }

/* SNS영역 */
.social_section {
        display: flex;
        justify-content: center;
        align-items: center;
        }
.social_section .social_list {}
.social_list li {
        margin: 10px 0;
        }
.social_list li a {
        display: flex;
        width: 55px;
        height: 55px;
        /* text-align: center; */
        background-color: #333;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        }
.social_list li:nth-child(1) a {background-color: #1da1f2;}
.social_list li:nth-child(2) a {background-color: #1877f2;}
.social_list li:nth-child(3) a {background-color: #ff0000;}

.social_list li a i {
        color: #fff;
        font-size: 20px;}

/* 푸터영역 */
.footer {display: flex;
        justify-content: center;
        align-content: center;}
.footer p {font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding: 30px 20px;
        letter-spacing: 2px;}
/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더영역 */
.header {order: 1;}

/* 슬라이더영역 */
.slider_section {order: 2;}

/* 갤러리영역 */
.gallery_section {order: 3;}

/* 인기검색어영역 */
.rankup_section {order: 4;}

/* 최신글영역 */
.latest_post_section {order: 5;}

/* 인기글영역 */
.popular_post_section {order: 6;}

/* 배너섹션 */
.banner_section {order: 7;}

/* sns섹션 */
.social_section {order: 8;}

/* 푸터영역 */
.footer {order: 9;}

/* 미디어쿼리 구간 ----------------------------------------------------------------*/
/* 모바일구간 767px 이하일때*/
@media (max-width:767px){

#wrap {display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    /* flex-flow:row wrap */
        width: 80%;
    /* margin: 0 5% 0 5%; */
        margin: 0 auto; 
        }
/* 인포섹션설정 */
.info_section {
        order: 0s;
        position:relative;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 50;
        background-color: #2ecc71;
        }
.info_list {display: flex;
        width: 100%;}
.info_list>li {width: 25%}
.info_list>li>a {display: block;
                padding: 10px;
                color: #fff;
                font-size: 20px;
                text-align: center;}

/* 헤더영역 */

.header {width: 100%;
        flex-wrap: wrap;}
.header>h1 {
        width: 100%;
        position: absolute;
        left: 0; top: 20px;
        font-size: 21px;
        line-height: 1.3;
        text-align: center;
        background-color: #2ecc71;
        z-index: 10;
        height:100px;}
.header>h1>a {
        display: block;
        padding: 20px 0;
        color: #fff;
        }
.header>nav {
        width: 100%;
        background-color: #2ecc71;
        display: flex;
        align-items: center;
        position: relative;}   

.gnb {display: none; /* 토글버튼 클릭시 변화할 부분 */
        flex-direction: column;
        position: absolute;
        top: 80px; right: -60%;
        width: 100%;}
.gnb>li {width: 40%;
        background-color: #2e3e50;
        display: flex;
        position: relative;}
.gnb>li>a {display: block;
        font-size: 20px;
        padding: 20px 10px;
        color: #fff;}

/* 토글버튼 */
.menu_toggle_btn {display: block;
        position: absolute;
        z-index: 60;
        top: 0; right: 0;
        background-image: url(../img/menu_toggle_btn.png);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        text-indent: -9999px;
        top: 70px; right: 50px;}
.sub_menu_toggle_btn {display: block;
        background-image: url(../img/sub_menu_toggle_btn.png);
        background-repeat: no-repeat;
        width: 20px; height: 20px;
        text-indent: -9999px;
        padding: 20px 0;
        background-size: contain;
        position: absolute;
        top: 20px; right: 20px;}

/* 슬라이더영역 */
.slider_section {
        width: 100%;
        background-color:#3c90be;
        height: 440px;
        }
/* 갤러리영역 */
.gallery_section {
        background-color: #f8de73;
        width: 100%;
        }
.gallery_list {
        flex-direction: row;
        }
.gallery_list>li {
        width: 50%;
        height: auto;
        padding:10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        }

/* 인기검색어영역 */
.rankup_section{
        background-color: #00d2a5;
        width: 100%;
        padding: 20px 0;
        }
/* 최신글영역 */
.latest_post_section {
        background-color: #9cabe4;
        width: 100%;
        height: 270px;
        }
/* 인기글영역 */
.popular_post_section {
        background-color: #d76817;
        width: 100%;
        height: 270px;}
/* 배너영역 */
.banner_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        }
.banner_section>div {flex: 1;}
.banner_box_01 {background-color: #0175bb;}
.banner_box_02 {background-color: #1261c9;}

.banner_section {}
.banner_box_01 {
        display: flex;
        justify-content: center;
        align-items:center;
        height: auto;
        }
.banner_box_01 a {
        display: block;
        width: 100px;
        padding: 20px 0;}
.banner_box_01 svg {
        width: 100%;
        height: auto;
        fill: #fff;
        }
.banner_box_02 {
        height: auto;
        display: flex;
        justify-content:center;
        align-items: center;
        }
.banner_box_02 .banner_list {
        display: flex;
        width: 100%;
        justify-content: space-around;}
.banner_list li {}
.banner_list li a {
        display: block;
        width: 42px;
        padding: 20px 10px;
        }
.banner_list li a svg {
        fill: #fff;
        }

/* SNS영역 */
.social_section {
        display: flex;
        justify-content: center;
        align-items: center;
        }
.social_section .social_list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        }
.social_list li {
        margin: 0px 0;
        padding: 20px 0;
        }
.social_list li a {
        display: flex;
        width: 55px;
        height: 55px;
        /* text-align: center; */
        background-color: #333;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        }
.social_section {
        background-color: #fe6eda;
        width: 100%;
        }

/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더영역 */
.header {order: 1;}

/* 슬라이더영역 */
.slider_section {order: 2;}

/* 갤러리영역 */
.gallery_section {order: 5;}

/* 인기검색어영역 */
.rankup_section {order: 6;}

/* 최신글영역 */
.latest_post_section {order: 3;}

/* 인기글영역 */
.popular_post_section {order: 4;}

/* 배너섹션 */
.banner_section {order: 7;}

/* sns섹션 */
.social_section {order: 8;}

/* 푸터영역 */
.footer {order: 9;}

}

/* 태블릿구간 768px 이상 1139px 이하구간 */
@media (min-width: 768px) and (max-width:1139px){

/* 인포섹션설정 */
.info_section {
        order: 0s;
        position:relative;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 50;
        background-color: #2ecc71;
        }
.info_list {display: flex;
        width: 100%;}
.info_list>li {width: 25%}
.info_list>li>a {display: block;
                padding: 10px;
                color: #fff;
                font-size: 20px;
                text-align: center;}

/* 헤더영역 */

.header {width: 100%;
        flex-wrap: wrap;}
.header>h1 {
        width: 100%;
        position: absolute;
        left: 0; top: 40px;
        font-size: 21px;
        line-height: 1.3;
        text-align: center;
        background-color: #2ecc71;
        z-index: 10;}
.header>h1>a {
        display: block;
        padding: 20px 0;
        color: #fff;
        height: 100px;}
.header>nav {
        width: 100%;
        background-color: #2ecc71;
        display: flex;
        align-items: center;
        position: relative;}   

.gnb {display: none; /* 토글버튼 클릭시 변화할 부분 */
        flex-direction: column;
        position: absolute;
        top: 80px; right: -60%;
        width: 100%;}
.gnb>li {width: 40%;
        background-color: #2e3e50;
        display: flex;
        position: relative;}
.gnb>li>a {display: block;
        font-size: 20px;
        padding: 20px 10px;
        color: #fff;}

/* 토글버튼 */
.menu_toggle_btn {display: block;
        position: absolute;
        z-index: 60;
        top: 0; right: 0;
        background-image: url(../img/menu_toggle_btn.png);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        text-indent: -9999px;
        top: 70px; right: 50px;}
.sub_menu_toggle_btn {display: block;
        background-image: url(../img/sub_menu_toggle_btn.png);
        background-repeat: no-repeat;
        width: 20px; height: 20px;
        text-indent: -9999px;
        padding: 20px 0;
        background-size: contain;
        position: absolute;
        top: 20px; right: 20px;}




/* 슬라이더영역 */
.slider_section {
        width: 60%;
        background-color:#3c90be;
        height: 440px;
        }
/* 갤러리영역 */
.gallery_section {
        background-color: #f8de73;
        width: 70%;
        }
.gallery_list {
        flex-direction: row;
        }
/* 인기검색어영역 */
.rankup_section{
        background-color: #00d2a5;
        width: 40%;
        }
/* 최신글영역 */
.latest_post_section {
        background-color: #9cabe4;
        width: 40%;
        height: 270px;
        }
/* 인기글영역 */
.popular_post_section {
        background-color: #d76817;
        width: 40%;
        height: 270px;}
/* 배너영역 */
.banner_section {
        width: 30%;
        display: flex;
        flex-direction: column;
        }
.banner_section>div {flex: 1;}
.banner_box_01 {background-color: #0175bb;}
.banner_box_02 {background-color: #1261c9;}
/* SNS영역 */
.social_section {
        background-color: #fe6eda;
        width: 20%;
        }





/* 영역설정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더영역 */
.header {order: 1;}

/* 슬라이더영역 */
.slider_section {order: 2;}

/* 갤러리영역 */
.gallery_section {order: 7;}

/* 인기검색어영역 */
.rankup_section {order: 3;}

/* 최신글영역 */
.latest_post_section {order: 4;}

/* 인기글영역 */
.popular_post_section {order: 5;}

/* 배너섹션 */
.banner_section {order: 8;}

/* sns섹션 */
.social_section {order: 6;}

/* 푸터영역 */
.footer {order: 9;}


}
/* 웹구간 1140px */
@media (min-width: 1140px){
.gnb {display:flex !important;}
#wrap {max-width: 1200px;}


}
