/* 언어설정 */
@charset 'UTF-8';
/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
/* font-family: 'Indie Flower', cursive; */

/* 전체설정 */
*{margin: 0;
padding: 0;}

ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}
/* 백그라운드 설정 */
body {background-image: linear-gradient(to left, #faf6ed 50%,#efe8d5 50%);
    background-size: 70px 100%;}
/* 헤더설정 */
.header{
    background-image: url(../img/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    margin-top: 40px;
    background-position: center top;}
.header .logo {
    text-align: center;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    padding-top: 30px;
    font-weight: normal;
    }
.header p {
    text-align: center;
    color: #949087;
    font-size: 15px;
    margin: 20px 0;
    }

 /* 메인설정 */
.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 40px; padding-right: 40px; padding-bottom: 40px; padding-top: 16px;}
.main_section {}
.post_home {
    margin-bottom: 48px;
    position: relative;}
.post_home:after{content: ""; clear: both; display: block;}   
.post_title {
    background-image: -webkit-linear-gradient(45deg, #ffffff 30%,#cccccc 30%,#cccccc 30%,#cccccc 50%,#ffffff 50%,#ffffff 50%,#ffffff 70%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */ 
    background-size: 6px 6px;
    padding-bottom: 10px;
    margin-bottom: 24px;}
.post_title h2 {
    background-color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
    font-weight: 500;
    }
.post_title h2 a {
    text-decoration: none;
    color: #949087;
    font-size: 22px;
    font-weight: bold;}
.post_img {
    float: left;
    position: relative;
    shape-outside: circle(56%);}
.post_img .date {
    position: absolute;
    top: 0; left: 0;
    font-size: 26px;
    width: 80px;
    height: 80px;
    background-color: #93d8d0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #fff;
    border-radius: 30% 60% 50% 70%/50%;
    }
.post_img span {
    display: block;
    font-size: 18px;
    }
.post_img p {}
.post_img img {
    border-radius: 40% 70% 50% 30%/50%;
    width: 220px; height: 180px;
    object-fit:cover;
    margin-right:20px;}
.post_story{
    font-size: 15px;
    color: #949087;
    line-height: 1.6;
    margin-bottom: 16px;}
.post_more {
    position: absolute;
    bottom: -30px; right: 0;}
.post_more a {
    background-color: #eda1a1;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px dashed #e38787;
    box-shadow: 0 0 0 5px #eda1a1;
    display: inline-block;}
.post_more a:hover{
    color: #fff;
    border-color: #eda1a1;
    background-color: #e38787;
    box-shadow: 0 0 0 5px #e38787;
    }
/* 사이드 설정 */
.side_section {}
.side_section div{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
    outline: 2px solid #ccc;
    outline-offset: 4px;
    padding: 16px;
    }
.side_section div h3 {
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    letter-spacing: 5px;
    color: #949087;
    margin-top: 14px; margin-bottom: 18px;}
.side_section div ul {
    list-style: none;}
.side_section div li {
    border-bottom: dashed 1px #ccc;
    display: flex;
    align-items: center;}
.side_section>div li:before {
    content: "";
    width: 8px; height: 8px;
    border-radius: 50%;
    background-color: #93d8d0;
    display: inline-block;
    margin-right: 10px;}
.side_section>div a {
    display: block;
    color: #949087;
    text-decoration: none;
    padding: 16px 0;
    flex: 1;}
.news {}
.news h3 {}
.news p {
    color: #949087;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;}
.news form {
    display: flex;}
.news input {
    padding: 16px;
    }
.news input[type='email'] {
    width: 75%;
    padding: 16px 0;
    border-radius: 5px 0 0 5px;
    border: 2px solid #ccc;
    border-right: none;}
.news input[type='submit']{
    width: 25%;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color: #eda1a1;
    margin-left: -5px;
    color: #fff;}
.news input:focus{outline: none;}
.news::placeholder{color: #ccc;}
/* 페이지네이션 설정 */
.pagination {
    display: flex;
    justify-content: center;
    }

.pagination li {
    margin: 0 10px;
    }
.pagination li a {
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #949087  ;
    }
.pagination li a:hover {
    background-color: #93d8d0;
    color: #fff;}
.pagination li:last-child a:hover {
    color: #949087;
    text-decoration: underline;
    background-color: transparent;}
.pagination .current a {
    background-color: #ccc;
    color: #fff;
    }
.pagination li:first-child a:hover {
    background-color: #949087;
    opacity: 0.8;
    color: #fff;
    }
/* 페이지구분라인 */
.pagination li:after {
    content:'\205D';
    margin-left: 20px;
    color: #ccc;
    }
.pagination li:last-child::after {
        content: '\205D';
        margin-left: 20px;
        color: #ccc;
        }
.pagination li:nth-child(4):after {
        content: '\205D';
        margin-left: -10px;
        color: #ccc;
        }
.footer {
    background-color: #949087;
    text-align: center;
    padding: 48px;
    margin-top: 60px;}
.footer ul {
    display: flex;
    justify-content: center;}
.footer ul li {
    margin: 0 12px;
    }
.footer li a {
    color: #ccc;
    display: block;
    }
.footer li a:hover{
    color: #000;
    }
.footer p {
    color: #ccc;
    font-size: 14px;
    margin-top: 20px;
    }



/* 600px 이하구간*/
@media(min-width:600px){
    .post_home{order: 1;}
    .news {order: 2;}
    .cat {order: 3;}
    .popular {order: 4;}
    .footer {order: 5;}
    .pagination{order: 6;}
        

} 
/* 600px 이상구간 */
@media(min-width:600px){
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        }
    .main_section {width: 68%;}
    .side_section {width: 26%;}}



/* 1140이상 구간 */
@media(min-width:1140px){
.header, .container {width: 1000px;
margin: 0 auto ;}
.header {margin-top: 40px;}
}



/* 순서 
.post_home{order: 1;}
.news {order: 2;}
.cat {order: 3;}
.popular {order: 4;}
.footer {order: 5;}
.pagination{order: 6;} */