@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Noto+Sans+KR&display=swap');
/* 0226 */
:root{
    /*color*/
    --m-col:#a67d4b;
    --bg-col:#593a1e;
    --p-col:#e6927f;
    --fon-col:#fff;
    --black-f:#333;
    /*fontSize*/
    --titleT:50px;
    --menuT:20px;
    --txtT:16px;
    --smT:12px; 
    /*  */
    --se:'Lora', serif;
    --sanse1:'Noto Sans KR', sans-serif;
    --sanse2:'Lato', sans-serif;
    /* 책넘기기 */
    --margin: 110px;
    --background: #e2e2f5;
    --perspective: 1800px;
    --transition: transform 1s .2s, z-index 0s 0.5s;
    --yellow: #ffce14;
   /* 책넘기기 */
    --margin: 110px;
    --background: #e2e2f5;
    --perspective: 1800px;
    --transition: transform 1s .2s, z-index 0s 0.5s;
    --yellow: #ffce14;}
.pages_page {
    font-family: var(--sanse1);
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    transform-origin: 0 50%;}
  * {box-sizing: border-box;}
.overlay {
    background: rgba(187, 186, 185, 0.702);
    position: fixed;
    width: 100%;
    pointer-events: none;
    height: 100%;}
.goodsBg {
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--background);
  height: 100vh;
  font-family: "Sree Krushnadevaraya", serif;}
.goodsBg .pagenumber {
  position: absolute;
  bottom: 20px;
  left: 34px;
  width: 400px;
  color: #fff;
  letter-spacing: 60px;
  z-index: 9999;}
.goodsBg .pagenumber:after {
  height: 1px;
  width: 100px;
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 19px;}
.pages_page__inner{}
.goodsBg .pages {
  width: calc(100% - var(--margin));
  height: calc(100% - var(--margin));
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  perspective: var(--perspective);
  box-shadow: 0 41px 38px -20px #0a3150;
  max-width: 1300px;
  max-height: 650px;}
.gdBg{
  width: 80%;
  height: 80%;
  background-image: url(img/goodsBg1.png);
  background-size: contain;
  background-position:left center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;}
.cd{
  width: 300px;
  height: 300px;
  background-image: url(img/goods1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position:absolute;
  top: 20px;
  left:60px;
  z-index: 1;}
.gd1txt{
  justify-content: end;
  align-items: flex-end;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;}
.gd1txt>h3 {
  width: 60%;
  height: 200px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;}
.gd1txt h3 em {
    font-size: 12px;
    font-style: normal;
    margin-left: 5px;
    margin-top: 5px;}
.priceBox{
  letter-spacing: -0.8px;
  margin-right: 30px;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;}
.priceBox h2 {
  font-family: var(--se);
  font-size: 28px;}
.priceBox h3{
  margin: 30px 0;
  font-weight: normal;}
.num{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;}
.num span{
  width: 20%;
  font-size: 14px;
  }
.num .inpu{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #fff;
  border-radius:20px;}
.cart{
  cursor: pointer;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.add{
  font-weight: normal;
  text-align: center;
  width: 150px;
  padding: 8px 0;
  margin: 20px 0;
  border-radius: 20px;
  background-color: #402915;}
.buy{
  font-weight: normal;
  text-align: center;
  width: 150px;
  padding: 8px 0;
  border-radius: 20px;
  background-color: #593A1E;}



.goodsBg .pages input {display: none;}
.goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div h5 span,
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div + div h5 span {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div .pagenumber,
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div + div .pagenumber {
    letter-spacing: 59px;
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div .pagenumber:after,
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div + div .pagenumber:after {
    width: 100px;
    transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div .content,
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content {
    filter: blur(0px);
    opacity: 1;
    transition: all 1s 0.5s;
    perspective: var(--perspective);}
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div .content_picture,
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content_picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 1s 0.8s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div .content h1 span,
  .goodsBg .pages input:nth-of-type(2):checked + input + input + div + div + div + div .content h1 span {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);}

  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div h5 span,
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div h5 span {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .pagenumber,
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .pagenumber {
    letter-spacing: 0;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .pagenumber:after,
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .pagenumber:after {
    width: 0px;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content,
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content {
    filter: blur(10px);
    opacity: 0;
    transform: translateZ(50px);
    transition: all 1s 0.2s;}
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content_picture,
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content_picture {
    transition: all 0.4s 0s cubic-bezier(0.6, 0.045, 0.165, 1);
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div .content h1 span,
  .goodsBg .pages input:nth-of-type(2):not(:checked) + input + input + div + div + div + div .content h1 span {
    transition: all 1.5s 0s cubic-bezier(0.6, 0.045, 0.165, 1);}
.goodsBg .pages input:nth-of-type(3):checked + input + div + div + div + div + div .pagenumber,
.goodsBg .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .pagenumber {
    letter-spacing: 59px;
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);}
.goodsBg .pages input:nth-of-type(3):checked + input + div + div + div + div + div .pagenumber:after,
.goodsBg .pages input:nth-of-type(3):checked + input + div + div + div + div + div + div .pagenumber:after {
    width: 100px;
    transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);}
.goodsBg .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .content_centerimage,
.goodsBg .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .content_centerimage {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.8s 0s cubic-bezier(0.6, 0.045, 0.165, 1);}
.goodsBg .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .content h4, .goodsBg .pages input:nth-of-type(3):not(checked) + input + div + div + div + div + div .content h6,
.goodsBg .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .content h4,
.goodsBg .pages input:nth-of-type(3):not(:checked) + input + div + div + div + div + div + div .content h6 {
    transition: all 1.5s 0.4s cubic-bezier(0.6, 0.045, 0.165, 1);
    transform: translateZ(200px);}
.goodsBg .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .pagenumber,
.goodsBg .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .pagenumber {
    letter-spacing: 59px;
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .pagenumber:after,
  .goodsBg .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .pagenumber:after {
    width: 100px;
    transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div .content_section,
  .goodsBg .pages input:nth-of-type(4):checked + div + div + div + div + div + div + div + div .content_section {
    transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
    filter: blur(0);
    opacity: 1;}
  .goodsBg .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .pagenumber,
  .goodsBg .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .pagenumber {
    letter-spacing: 0;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .pagenumber:after,
  .goodsBg .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .pagenumber:after {
    width: 0px;
    transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);}
  .goodsBg .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section,
  .goodsBg .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section {
    filter: blur(20px);
    transition: all 0.8s 0.5s cubic-bezier(0.6, 0.045, 0.165, 1);
    opacity: 0;}
  .goodsBg .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section:nth-of-type(1),
  .goodsBg .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section:nth-of-type(1) {
    left: 0;}
  .goodsBg .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section:nth-of-type(2),
  .goodsBg .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section:nth-of-type(2) {
    left: 0;}
  .goodsBg .pages input:nth-of-type(4):not(checked) + div + div + div + div + div + div + div .content_section:nth-of-type(3),
  .goodsBg .pages input:nth-of-type(4):not(:checked) + div + div + div + div + div + div + div + div .content_section:nth-of-type(3) {
    left: 0;}
  .goodsBg .pages_page {
    pointer-events: none;
    float: right;
    transform-style: preserve-3d;}
  .goodsBg .pages_page:nth-of-type(1) {
    z-index: 7;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(2) {
    z-index: 6;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(3) {
    z-index: 5;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(4) {
    z-index: 4;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(5) {
    z-index: 3;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(6) {
    z-index: 2;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(7) {
    z-index: 1;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(8) {
    z-index: 0;
    transition: var(--transition);}
  .goodsBg .pages_page:nth-of-type(1) {
    left: 0;
    z-index: 0;
    transform: rotateY(0deg)!important;;
    pointer-events: none;}
  .goodsBg .pages_page:nth-of-type(1) .pages_page__inner {
    transform: rotateY(0deg) !important;}
  .goodsBg .pages_page:nth-of-type(2) {
    pointer-events: all;}
  .goodsBg .pages_page:nth-of-type(odd) .pages_page__inner {
    transform: rotateY(180deg);}
  .goodsBg .pages_page:nth-of-type(1) .pages_page__inner {
    background-repeat: no-repeat;
    background-size:780px;
    background-position:center center; 
    background: url(img/ruelgoods_01.png);}
  .goodsBg .pages_page:nth-of-type(2) .pages_page__inner {
    background-repeat: no-repeat;
    background-size:780px;
    background-position: center center;
    background: url(img/ruelGoods_02.png);}
  .goodsBg .pages_page:nth-of-type(2) .pages_page__inner h4 {
    color: black;
    z-index: 3;}
  .goodsBg .pages_page:nth-of-type(3) .pages_page__inner {
    background-color: #d6cecb;
    background-position: 0 0;}
  .goodsBg .pages_page:nth-of-type(3) .pages_page__inner .content {
    height: 100%;
    transform-style: preserve-3d;
    width: 200%;
    position: absolute;}
  .goodsBg .pages_page:nth-of-type(4) .pages_page__inner .content {
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;}
  .goodsBg .pages_page:nth-of-type(4) .pages_page__inner .bg {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: relative;
    background-color: #d6cecb;
    left: -100%;}
  .goodsBg .pages_page:nth-of-type(5) .pages_page__inner {
    background-color: #d6cecb;}
  .goodsBg .pages_page:nth-of-type(6) .pages_page__inner {
    background-color: #d6cecb;}
  .goodsBg .pages_page:nth-of-type(7) .pages_page__inner {
    background-color: #d6cecb;}
  .goodsBg .pages_page:nth-of-type(7) .pages_page__inner .content_section {position: absolute;}
  .goodsBg .pages_page:nth-of-type(8) .pages_page__inner {
    background-color: #d6cecb;}
  .goodsBg .pages_page:nth-of-type(8) .pages_page__inner .content {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: absolute;
    left: -100%;}
  .goodsBg .pages_page:nth-of-type(8) .pages_page__inner .bg {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
    height: 100%;
    width: 200%;
    position: relative;
    background-color: #d6cecb;
    left: -100%;}
  .goodsBg .pages_page__inner {
    background-size: 1400px !important;
    height: 100%;
    transform-style: preserve-3d;}
  .goodsBg .pages_page__inner .control {
    position: absolute;
    z-index: 1;
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 0 0 0px #fff;}
  .goodsBg .pages_page__inner .control:hover {
    box-shadow: 0 0 0 10px #e6927f;
    left: 35px;}
  .goodsBg .pages_page__inner .control:hover:before {
    width: 40px;
    left: -40px;}
  .goodsBg .pages_page__inner .control.next {
    left: auto;
    right: 30px;}
  .goodsBg .pages_page__inner .control.next:hover {
    right: 34px;}
  .goodsBg .pages_page__inner .control.next:hover:before {
    width: 40px;
    right: -40px;}
  .goodsBg .pages_page__inner .control.next:before {
    left: auto;
    right: -33px;}
  .goodsBg .pages_page__inner .control.next:after {
    transform: rotate(180deg);
    top: 5px;
    left: 11px;
    pointer-events: none;}
  .goodsBg .pages_page__inner .control label {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;}
  .goodsBg .pages_page__inner .control:after {
    content: "";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--yellow);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;}
  .goodsBg .pages_page__inner .control:before {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 1px;
    background: var(--yellow);
    top: 50%;
    transform: translateY(-50%);
    left: -32px;
    transition: all 0.2s;}
  .goodsBg .pages_page__inner .footer {
    position: absolute;
    bottom: 26px;
    z-index: 2;
    color: var(--yellow);
    right: 30px;
    font-size: 12px;}
  .goodsBg .pages_page__inner .footer i {margin: 0 10px;}
  .goodsBg .pages_page__inner .content {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 0;
    transform: translateZ(0px);
    width: 100%;
    height: 100%;}
  .goodsBg .pages_page__inner .content_centerimage {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    text-align: center;
    width: 60%;
    transform: translateY(-50%);
    max-width: 300px;}
  .goodsBg .pages_page__inner .content_centerimage img {width: 100%;}
  .goodsBg .pages_page__inner .content_center {
    position: absolute;
    text-align: center;
    width: 260px;
    right: -130px;
    padding-bottom: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);}
  .goodsBg .pages_page__inner .content_center img {width: 300px;}
  .goodsBg .pages_page__inner .content_center .logo {font-size: 30px;}
  .goodsBg .pages_page__inner .content_center h4,
  .goodsBg .pages_page__inner .content_center h6 {
    color: var(--yellow);
    font-size: 38px;
    font-weight: normal;
    margin: 0;
    line-height: 38px;}
  .goodsBg .pages_page__inner .content_center h4 {
    color: var(--yellow);
    font-size: 38px;
    font-weight: normal;
    margin: 0;
    line-height: 38px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 15px 20px 29px;}
  .goodsBg .pages_page__inner .content_center h6 {
    font-size: 20px;
    margin: 0;
    opacity: 0.5;}
  .goodsBg .pages_page__inner .content_center h6:nth-of-type(2) {
    font-size: 16px;
    margin-top: 10px;}
  .goodsBg .pages_page__inner .content_center.right {
    right: auto;
    left: -130px;
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);}
  .goodsBg .pages_page__inner .content_picture {
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-40px);
    top: 294px;}
  .goodsBg .pages_page__inner .content_quote {
    position: absolute;
    left: calc(50% + 250px);
    bottom: 100px;
    width: 200px;}
  .goodsBg .pages_page__inner .content_quote h5 span {
    display: block;
    color: var(--yellow);
    font-size: 34px;
    font-weight: normal;
    line-height: 24px;}
  .goodsBg .pages_page__inner .content_quote h5 span.name, .goodsBg .pages_page__inner .content_quote h5 span.auth {
    font-size: 13px;
    opacity: 0.7;
    margin: 22px 0 0 0;
    position: Relative;
    left: 140px;}
  .goodsBg .pages_page__inner .content_quote h5 span.auth {
    margin: -7px 0;}
  .goodsBg .pages_page__inner .content_quote h5 span.quo {
    font-family: "Catamaran", sans-serif;
    font-size: 80px;
    position: absolute;
    left: 195px;
    top: 90px;}
  .goodsBg .pages_page__inner .content_quote h5 span.quo:nth-of-type(1) i {
    transform: rotate(180deg);
    left: -226px;
    top: -100px;
    display: block;
    font-style: normal;
    position: relative;}
  .goodsBg .pages_page__inner .content_offset {
    position: absolute;
    width: 280px;
    top: 260px;
    left: 50%;
    transform: translateX(-350px);
    color: var(--yellow);}
  .goodsBg .pages_page__inner .content_offset h2,
  .goodsBg .pages_page__inner .content_offset p {
    margin: 0;}
  .goodsBg .pages_page__inner .content_offset h2 {
    color: var(--yellow);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 8px 0;}
  .goodsBg .pages_page__inner .content_offset p {
    font-size: 13px;
    line-height: 20px;
    color: var(--yellow);}
  .goodsBg .pages_page__inner .content h1 {
    font-size: 53px;
    color: var(--yellow);
    text-transform: uppercase;
    padding: 120px;
    margin: 0;
    font-weight: normal;
    letter-spacing: -6px;
    line-height: 51px;
    transform-style: preserve-3d;}
  .goodsBg .pages_page__inner .content h1 span {
    transform-style: preserve-3d;
    display: inline-block;}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(2):checked + input + input + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(3):checked + input + div + div + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div {
    pointer-events: all;}

  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div {
    pointer-events: none;
    z-index: 9;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div {
    pointer-events: all;
    transform: rotateY(-180deg);
    z-index: 10;
    transition: var(--transition);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div .control {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div + div + div {
    pointer-events: all;}
  .goodsBg .pages input[type=radio]:nth-of-type(4):checked + div + div + div + div + div + div {
    pointer-events: none;
    z-index: 9;}