@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* 전체설정 */
*{margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #555;}
img {vertical-align: bottom; border: none;}
body {font-family: 'Righteous', cursive;}

/* 로고설정 */
h1 {
    position: fixed;
    width: 200px; height: auto;
    top: 50px; left: 50px;
    z-index: 3;
    }
h1 img {
    width: 100%; height: auto;
    }
/* gnb설정 */
#gnb {
    position: fixed;
    left: 0; 
    top: 50%;
    margin-top: -120px;
    z-index: 2;
    }
#gnb li {
    }
#gnb a {
    display: block;
    width: 200px;
    height: 60px;
    text-align: right;
    border-top: 1px solid #111;
    font-size: 14px;
    box-sizing: border-box;
    opacity: 0.8;
    transition: all 0.5s;}
#gnb li:hover a {
    font-size: 24px;
    opacity: 1;}

#gnb li:nth-child(1):hover a {
    color: #d4164c;
    border-color:#d4164c;}
#gnb li:nth-child(2):hover a {
    color: #fff;
    border-color:#fff;}
#gnb li:nth-child(3):hover a {
    color: #ffec6a;
    border-color:#ffec6a;}
#gnb li:nth-child(4):hover a {
    color: #005a89;
    border-color:#005a89;}

/* wrap설정 */
#wrap {}
section {
    width: 100%;
    height: 700px; /*임시설정*/
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;}
section:nth-child(1) {
    background-image: url(../img/bg1.jpg);}
section:nth-child(2) {
    background-image: url(../img/bg2.jpg);}
section:nth-child(3) {
    background-image: url(../img/bg3.jpg);}
section:nth-child(4) {
    background-image: url(../img/bg4.jpg);}

section img {position: absolute;}

/* 이미지상세설정 */
.p11 {bottom: 20px; right: 20px;}
.p12 {bottom: -40px; right: 130px;}
.p13 {top:180px; right: 60px;}

.p21 {bottom:-480px; right: -180px;}
.p22 {bottom: -40px; right: 130px;}

.p31 {bottom: 30px; right: 180px;}
.p32 {bottom: 270px; right:110px;}
.p33 {bottom: -130px; right: -70px;}

.p41 {bottom: -120px; right: 20px;}
.p42 {bottom: -180px; right: 0px;}
