@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{list-style:none;}
a{text-decoration:none; color: #fff;}
img{vertical-align:bottom; border:none;}
body {
  font-family: 'Nanum Gothic',sans-serif; 
  color: #fff;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;}
.bg{
  position:fixed;
  left: 0; top: 0;
  z-index: -1;
  }
  header {
    height: 150px;
    display: flex;
    width: 100%;
    position: fixed; 
    left: 0; top: 0; 
    z-index: 9999;
    opacity: 1;
    transition: all 0.5s;}

header>.wrap1{max-width: 1280px;}
header h1 {
    margin-left: 150px;
    width: 20%;
    height: 100%;}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/logo_white.png);
    transition: all 0.5s;}
nav{width: 80%;}
.navMenu {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    height: 100%;
    align-items: center;}
.navMenu li {width: 20%; margin-top: 30px;}
.navMenu li a {
    display: block;
    font-size: 22px;
    text-align: center;
    color:#fff;}

/* 서브메뉴 설정 */
.none{
    width: 100%;
    background-color: #fff;
    padding-top: 8px;
    display: none;
    }
.submenu{
    display: flex;
    justify-content:flex-start;
    height: 60px;    
    padding: 5px 5px;} 
.submenu ul {
    color: #000;
    cursor: pointer;}
.sub1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;}
.sub1 li{
    border-right: 0.5px solid #444;
    padding-right: 40px;}
.sub1 li:nth-child(6){border-right:none;}
.submenu ul.on {color: #ffb941;}
.submenu li.on {color: #ffb941;}
.submenu li a{
    color: #000;
    font-size: 16px;
    display: block;
    text-align:start;            
    padding: 3px 3px ;}
.icon{
    margin-right: 150px;
    justify-content: end;
    align-items: center;
    width: 20%;
    display: flex;}
.icon>.kor a{
    margin-top: 30px;
    display: block;
    font-size: 16px;
    text-align: center;
    color:#fff;}
.icon>.menuIcon a{
    margin-top: 30px;
    display: block;
    font-size: 22px;
    text-align: center;
    color:#fff;
    margin-left: 20px;
    }

.submenu li a {font-weight: normal;}
.submenu li a:hover {color:#c00000;}
.icon .kor a:hover {color: red;}
.icon .menuIcon a:hover {color: red;}
header:hover .kor a{color: #000;}
header:hover .menuIcon a{color: #000;}
header:hover {background-color: #fff;}
header:hover .navMenu li a {color: #000;}
header .navMenu li a:hover {color: #c00000;}
header:hover h1 a {background-image:url(img/logo.png);}

section:not(#sectionPin) {
  min-height: 100vh;}
.main1 {
    position: relative;
    width: 100%;
    height: 100vh;}
.box1 {
    position: absolute;
    bottom: 0;
    margin-left: 50px;}
.box1 h2 {font-size: 5em;}
.box1 span {font-size: 3em;}

.main2{
  width: 100%;
  height: 2000px;
  }
.box2{
  position:relative;
  width: 100%;
  height: 1000px;
  }
.box2 .txtBox1{
  margin-left: 50px;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1;}
  .txtBox1 h2{
      font-size: 5em;}
  .txtBox1 p{
      font-size: 2em;}
  .txtBox1 .btn{
      font-size: 2em;}
.box2 .img1{
  background-image: url(img/main2-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 30%;
  width: 900px;
  height: 500px;
  margin-right: 50px;}

/* 메인2의 Box2설정 */
.box2 .img2{
  background-image: url(img/main2-2.jpg);
  position: absolute;
  left:0px;
  top: 30%;
  width: 900px;
  height: 450px;
  margin-left: 50px;}
.box2 .txtBox2{
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 1;
  margin-right: 50px;}
.txtBox2 h2{
  font-size: 5em;
  text-align: end;}
.txtBox2 p{
  font-size: 2em;
  text-align:end;}
.txtBox2 .btn{
  font-size: 2em;
  text-align: end;
  }

/* 메인 3설정 */
.main3{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;}
.main3 .box1{
  display: flex;
  left: -40px;
  width: 100%;
  height: 100vh;}
.main3 .box1 .txt{
  margin-left: 50px;
  width: 50%;
  height: auto;
  font-size: 5em;}
.box1 .imgBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  right: 50px;
  width: 50%;}
.imgBox div {
  width: 280px;
  height: 380px;
  margin-left: 20px;
  margin-top: 20px;}
.img1{
  background-image: url(img/product1-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.img2{
  background-image: url(img/product1-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.img3{
  background-image: url(img/product1-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.img4{
  background-image: url(img/product1-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }



#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;}

.pin-wrap {
  height: 100vh;
  display: flex;}
.pin-wrap > * {
  min-width: 100vw;}
.pin-wrap .test1 {
  background-image: url(img/map.png);
  background-size: cover;
  scale: 1.1;
  }
.pin-wrap .test2 {
  background-image: url(img/smog.jpg);
  background-size: cover;
  }
.pin-wrap .test3 {
  background-image: url(img/map1.png);
  background-size: cover;
  }
.pin-wrap .test4 {
  background-image: url(img/map2.png);
  background-size: cover;
  }
.pin-wrap .test5 {
  background-image: url(img/map3.png);
  background-size: cover;
  }
.pin-wrap .test6 {
  background-image: url(img/map4.png);
  background-size: cover;
  }
.pin-wrap .test7 {
  background-image: url(img/end1.jpg);
  background-size: cover;
  }

