@charset 'UTF-8';
*{margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #000;}
img {vertical-align: bottom; border: none;}
body {overflow-x: hidden;}


/* 화면크기 영역나누기*/
header {
    background-color: #fff;
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0; top: 0;
    z-index:9999;
    }
section{
    width: 100%;
    height: 800px;
    }
section:nth-child(1) {
    background-color: #ccc;}
section:nth-child(2) {
    background-color: #bbb;}
section:nth-child(3) {
    background-color: #aaa;}
section:nth-child(4) {
    background-color: #888;}
section:nth-child(5) {
    background-color: #777;}
section:nth-child(6) {
    background-color: #666;}
section:nth-child(7) {
    background-color: #555;}
section:nth-child(8) {
    background-color: #444;}
section:nth-child(9) {
    background-color: #333;}

#wrapper{
    position: relative;
    width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5); /*임시설정*/
    }


/* header 상세설정 */
header {
    background-color: #f6f5ef;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    }
header #wrapper {
    display: flex;
    align-items: center;
    }
header h1 {
    width: 10%;
    }
header img {
    
}
nav {width: 90%;}
nav .util {
    display: flex;
    justify-content: flex-end;}
nav .util ul{display: flex; justify-content: flex-end;}
nav .util li {}
nav .util a {
    display: block;
    padding: 10px;
    }

nav .search {
    background-color: #fff;
    border: 1px solid #666;
    position: relative;
    width: 40px;
    border-radius: 4px;}
nav .search input {
    width: 120px;
    margin-top: 6px;
    padding: 3px 10px;
    border: none;
    font-size: 12px;
    display: none;}
nav .search a {
    position: absolute;
    right: 0; top: -5px;
    }
nav .search img {}

/*search를 클릭했을 때 값 */
nav .search.on { 
    width: 160px;} 
nav .search input {
    display: inline-block;
    opacity: 0;
    width: 120px;
    margin-top: 6px;
    padding: 3px 10px;
    border: none;
    font-size: 12px;}

nav .gnb {display: flex; justify-content: flex-end;}
nav .gnb>li {}
nav .gnb>li>a {
    display: block;
    padding: 10px 20px
    }

/* 서브메뉴 */
.sub_menu {
    position: relative;}
.sub_menu>div {
    position: absolute; left: 0; top: 0;
    display: none;}
.sub1 {
    width: 100%;
    background-color: #000;  
    padding: 20px 0;
    display: none;
    }
.sub2 {background-color: rebeccapurple; height: 200px; width: 100%;}
.sub3 {background-color: red;height: 200px; width: 100%;} 
.sub4 {background-color: green;height: 200px; width: 100%;}
.sub5 {background-color: lightgreen;height: 200px; width: 100%;}
.sub6 {background-color: pink;height: 200px; width: 100%;}
.sub7 {background-color: palegoldenrod;height: 200px; width: 100%;}
.sub_menu #wrapper {
    display: flex;
    }

.sub1 ul {
    width: 20%;
    }
.sub1 li {}
.sub1 li:nth-child(1) {
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;}
/* 컨텐츠1번 설정 */
.con1 {
    margin-top: 120px;
    width: 100%;
    height: 600px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_newyear_top_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    
.con1 #wrapper {display: flex;}
.con1 .luck1 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    opacity: 0;}
.con1 .luck1{max-width: 100%; }
.con1 .luck1 .more {
    margin-top: 80px;
    border: 1px solid #444;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 14px;
    }
.con1 .img_g {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    }
.con1 .img_g>div {
    width: 30%; height: 100%;
    position: relative;
    }
.con1 .img_g img{max-width: 100%; height: auto; position: absolute;}
.tea1 {opacity: 0; }
.tea2 {opacity: 0;
    z-index:10; }
.tea3 {opacity: 0; }
.tea1 img {
    top: 20%;
    left: 40%;}
.tea2 img {
    top: 30%;
    left: 10%;}
.tea3 img {
    top: 30%;
    left: -10%;}

/* 컨텐츠 2번 */
.con2 {height: 300px;}
/* 컨텐츠 3번 */
.con3 {}
    .con3 #wrapper {position: relative;
                }
    .promotion_img{
        width: 50%;
        text-align: center;
        padding-top: 150px;
        box-sizing: border-box;
        position: absolute;
        left: -100%;}
    .promotion_txt {
        width: 50%;
        text-align: center;
        padding-top: 150px;
        box-sizing: border-box;
        position: absolute;
        right: -100%;}
/* 컨텐츠4번 */
.con4 {}
.con4 #wrapper {position: relative;}
.lo {display: flex;
    padding-top: 150px;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    width: 50%;}
.cup {display: flex;
    padding-top: 150px;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    width: 50%;
    right: 0;}