@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* 전체설정 */
*{margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none; color: #000;}
img {vertical-align: bottom; border: none;}
body {font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden;}
/* 켄바 인포그래픽이력서 금요일까지 jpeg파일로 텍스트만 바꿔서 작성 후 제출 */
/* 기본설정 */
header {
    width:100%; 
    height: 200px;}
.footer {
    width: 100%;
    height: 120px;}
.wrap {width: 100%; height: 100%;}

/* header설정 */
header {
    width: 100%;
    position: relative; 
    left: 0; top: 0; 
    z-index: 10;
    background-color:rgba(255, 255, 255,1);
    opacity: 1;
    transition: all 0.5s;
    border-bottom: 1px solid #ddd;}
header:hover {background-color: #fff;}
header .wrap {position:relative; display: flex;}
header .ham {display: none;}
header h1 {
    width: 20%;
    height: 100%;}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(images/logo.png);}
header .icon {
    position: absolute;
    width: 100px;
    height: 40px;
    right: 0px;
    top: 20px;}
header .icon .log {cursor: pointer; padding: 1px; color:#515b29;}
header .icon span i {
    padding-bottom: 1px;
    margin-left: 10px;
    cursor: pointer;
    color:#515b29;}
.icon .log:hover {border-bottom:1px solid #515b29;}
.icon span i:hover {border-bottom:1px solid #515b29;}
.navClon_box {
    display: none;
    position: fixed;
    background-color: #fff;
    left: 0px;
    top: 100px;
    width: 250px;
    height: 100%;
    transition: all 0.8s;
    z-index: 9999;}
.navClon_box.on{box-shadow: rgba(0, 0, 0, 0.5)0 0 0 9999px;}
.navClon li a{
    display: block;
    border-bottom: 1px solid #515b29;
    text-align: end;
    font-size: 20px;
    padding: 20px;
    color: #515b29;}
.navClon_box .weather1 {padding-top: 20px;}
header nav{width: 80%;}
header .nav {
    display: flex;
    justify-content:flex-end;
    width: 100%;
    height: 100%;
    align-items: center;}
header .nav li {width: 12%; margin-top: 30px;}
header .nav li:nth-child(3), header.nav li:nth-last-child(4) {width: 13%;}
header .nav li a {
    display: block;
    font-size: 16px;
    text-align: center;
    font-weight:bold;
    color:#515b29;}
header .nav li a:hover {
    color: #ffb941;}

/* 서브메뉴 설정 */
.none{width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 15px;
    display: none;}
.submenu{
    display: flex;
    justify-content:flex-end;
    width: 100%;
    height: 240px;    
    padding: 0px 5px;} 
.submenu ul {
    width:12% ;
    color: #fff;
    cursor: pointer;}
.submenu ul.on {color: #ffb941;}
.submenu li.on {color: #ffb941;}
.submenu ul:nth-child(3) , .submenu ul:nth-child(4) {width: 13%;}
.submenu li{
    font-size: 14px;
    display: block;
    text-align: center;            
    padding: 2px 0;}
.submenu li a {font-weight: normal;}
.submenu li:hover {background-color:rgba(81, 91, 41, 0.9);}
/* sub1 설정 */
.wrap{max-width: 1280px;}
.sub_nav{
    width: 80%;
    height: 80px;
    background-color: #ffb941;
    z-index: 11;
    border-radius: 0 15px 15px 0 ;}
.sub_nav ul {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    }
.sub_nav li {
    height: 100%;
    line-height: 4.5;
    border-right: 1px solid #fff;
    width: 14%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    }
.sub_nav li:nth-child(7){border-right: none;}
.sub_nav li:hover{
    background-color: #515b29;
    color: #fff;}
.title{
    width: 100%;
    height: 150px;
    }
.title h2 {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 2;
    border-bottom: dotted 2px #ddd;
    padding: 20px 0;
    }
.load1{
    width: 100%;
    height: 600px;
    background-color: #eee;
    display: flex;
    align-items: center;
    }
.loadBox1{width: 50%;}
.loadBox2{width: 50%; margin-right: 100px; }
.load1 .img {
    background-image:url(images/main1-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height:400px;
    margin: 0 auto;
    }
.load1 .txt {
    line-height: 4;
    width: 100%;}
.load2 ul{
    width: 100%;
    display: flex;
    margin-top:50px;}
.load2>ul>li{
    width: 25%;
    text-align: center;
    border: 1px solid #eee;
    padding: 20px 0;
    color: #555;
    font-size: 16px;
    }
.load2>ul>li:hover{border: 1px solid #ffb941;}
.load2 .int1{
    display: none;
    width: 100%;
    height: 600px;
    background-color: #eee;
    margin-top: 20px;
    }
.int>div{
    width: 80%;
    height: 600px;
    margin:0px auto;
    }
.int1 h3{
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
    }
.int1 p{
    margin-top: 20px;
    color: #222;
    line-height: 1.8;}
.inBox{
    margin-top: 50px;
    display: flex;}
.inBox>.img{
    left: 0;
    width: 48%;
    height:300px;
    background-color: #515b29;  
    }
.inBox>.loadTime{
    margin-left: 4%;
    width: 48%;
    height: 300px;
    }
.inBox>.loadTime>p{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: #555;
    }
.load2 .int2{
    display: none;
    width: 100%;
    height: 600px;
    background-color: #eee;
    margin-top: 20px;
    }
.load2 .int3{
    display: none;
    width: 100%;
    height: 600px;
    background-color: #eee;
    margin-top: 20px;
    }
.int3 .map{
    background-image: url(images/subMap1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;}
.load2 .int4{
    width: 100%;
    height: 600px;

    margin-top: 20px;}
.int4 ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    }
.int4>ul>li{
    width: 100%;
    height: 100%;
    border: 2px solid #ddd;
    padding: 15px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    }

footer {
    margin-top: 100px;
    padding: 10px 10px;
    padding-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #747474;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.1;}

/* ----------------------미디어쿼리구간--------------------------------- */
/* 1600px 이상일 떄 */
@media(min-width:1600px){
    .wrap {width:1280px;margin:0 auto;}}
/* 1080px이상 1599px이하 구간----------------1구간 */
@media(min-width:1080px) and (max-width:1599px){
header {height: 80px;}

.wrap {max-width:900px;margin:0 auto;}
/* 헤더설정 */
header .nav li a {font-size: 12px;}
/* 서브메뉴 설정 */
.submenu li{font-size: 10px;}
}
/* 640px이상 1079px이하 구간----------------1구간 */
@media(min-width:640px) and (max-width:1079px){
.wrap {min-width:550px;margin:0 auto;}
    header {height: 100px;}
    
    /* header설정 */
    header .ham{
        display: block;
        position: absolute;
        font-size:30px;
        top: 50%;
        margin-top:-30px;
        left: 20px;}
    header h1 {
        width: 100%;
        display: block;
        margin: 0  auto;}
    header .icon {display: none;}
    header nav{display: none;}
}
/*639px이하 구간 -----------------------3구간 */
@media(max-width:639px){
    .wrap {max-width:639px; margin:0 auto;}
    header {height: 100px;}
    /* header설정 */
    header{margin: 0;}
    header .ham{
        display: block;
        position: absolute;
        font-size:30px;
        top: 50%;
        margin-top:-30px;
        left: 0;
        z-index: 9999;}
    header h1 {
        width: 50%;
        display: block;
        margin: 0 auto;}
    header .icon {display: none;}
    header nav{display: none;}
  
}    


