/* 언어설정 */
@charset 'UTF-8';

*{margin: 0; padding: 0;}

#wrap {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: antiquewhite;}

.header {display: flex;
        width: 100%;
        position: relative;
        justify-content: end;}
.header>h1 {
        background-color: yellow;
        width: 15%; 
        height: 150px;
        position: absolute;
        left: 0; top: 0;
        }
.header>nav {
        background-color: yellowgreen;
        width: 85%;
        height: 75px;
        }        
.slider {
        background-color: rgba(45, 250, 56, 0.5);
        width:50%;
        height:550px;
        text-align: center;
        }
        /* 텍스트 중앙정렬 */
.gallery {
        background-color: slategray;
        width: 35%;
        }
.rankup {
        background-color: honeydew;
        width: 15%;
        }
.latest {
        background-color: honeydew;
        width: 28%;
        height: 320px;
        }
.popular {
        background-color: slategray;
        width: 28%;
        }
.banner {
        width: 28%;
        display: flex;
        flex-direction: column;
        }
.banner>div {flex: 1;}
.banner1 {background-color: yellow;}
.banner2 {background-color: yellowgreen;}
.social {
        background-color: rgba(45, 250, 56, 0.5);
        width: 16%;
        }
.footer {
        width: 100%;
        background-color: darkgrey;
        height: 107px;
        }