/* 언어설정 */
@charset 'UTF-8';

*{margin: 0; padding: 0;}

#wrap {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        }

.header {display: flex;
        width: 100%;
        position: relative;
        justify-content: end;}
.header>h1 {
        background-color: #666;
        width: 20%; 
        position: absolute;
        left: 0; top: 0;
        }
.header>nav {
        background-color: #666;
        width: 80%;
        height: 100px;
        
        }        
.slider {
        background-color:#888;
        width:50%;
        height:800px;
        text-align: center;
        }
        /* 텍스트 중앙정렬 */
.gallery {
        background-color: #888;
        width: 35%
        }
.rankup {
        background-color: #888;
        width: 15%;
        }
.latest {
        background-color: #666;
        width: 28%;
        height: 600px;
        border:solid 1px #222;}
.popular {
        background-color: #666;
        width: 28%;
        border-top: #222 solid 1px;
        border-bottom: #222 solid 1px;}
.banner {
        width: 28%;
        display: flex;
        flex-direction: column;
        background-color: #666;
        border: #222 solid 1px;}
.banner>div {flex: 1;}
.banner1 {background-color: #666(63, 76, 82);}
.banner2 {background-color: #666;}
.social {
        background-color: #666(73, 88, 74, 0.5);
        width: 16%;
        border-top: #222 solid 1px;
        border-bottom: #222 solid 1px;
        }
.footer {
        width: 100%;
        background-color: rgb(44, 42, 42);
        height: 80px;
        }

        