@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */
*{margin: 0; padding: 0;}
ul,ol{list-style:none;}
a{text-decoration:none; color: #fff;}
img{vertical-align:bottom; border:none;}
* {
    margin: 0;
    padding: 0;}
body{
    font-family: 'Nanum Gothic',
    sans-serif; color: #fff;
    /* overflow-x: hidden; */}
.bg{
    position:fixed;
    left: 0; top: 0;
    }
#wrap {
    width: 100%;
    position: relative;
    left: 0;
    top:0}
#wrap.on {
    position: fixed;
    top:-400% ;
    left: 0;}
section {
    width: 100%;
    height:1000px ;}
.box1 {background-color: rgba(167, 64, 64, 0.5)}
.box2 {background-color: rgba(76, 33, 175, 0.5)}
.box3 {background-color: rgba(13, 175, 27, 0.5)}
.box4 {
    background-color: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;}
.scroll {width: 100%;
        height: 100%;
        position: relative;}
ul {position: absolute;
    left: 0;
    bottom: 0;
    width: 500%;
    display: flex;
    height: 1000px;}
li {width: 100%;
    height: 100%;
    text-align: center;
    font-size: 160px;}
li:nth-child(1) {background-color: lightcoral;}
li:nth-child(2) {background-color: lightcyan;}
li:nth-child(3) {background-color: lightgoldenrodyellow;}
li:nth-child(4) {background-color: lightpink;}
li:nth-child(5) {background-color: lightskyblue;}
/* 메인1 설정 */
.main1 {
    width: 100%;}
.main1Box1 {
    width: 100%;
    height: 1000px;
    background-color:rgba(0, 0, 0, 0.5)
    }
.main1Box1 h2 {
    font-size: 8rem;
    }
.main1Box1 span {
    font-size: 3rem;
    }
/* 메인2의 Box1설정 */
.main2{width: 100%;}

.main2Box1{
    width: 100%;
    height: 1000px;
    background-color: rgba(125, 111, 125, 0.5);
    }
.main2Box1 .txtBox1{
    top: 50%;
    z-index: 1;}
    .txtBox1 h2{
        font-size: 6rem;}
    .txtBox1 p{
        font-size: 2rem;}
    .txtBox1 .btn{
        font-size:2rem;}
.main2Box1 .img1{
    background-image: url(img/main2-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 50%;
    width: 900px;
    height: 450px;}

/* 메인2의 Box2설정 */
.main2Box2{
    width: 100%;
    height: 1000px;
    background-color: rgba(125, 125, 0, 0.5);}
.main2Box2 .img2{
    background-image: url(img/main2-2.jpg);
    left:0;
    top: 20%;
    width: 900px;
    height: 450px;}
.main2Box2 .txtBox2{
    right: 0;
    top: 20%;
    z-index: 1;}
.txtBox2 h2{
    font-size: 6rem;
    text-align: end;
    }
.txtBox2 p{
    font-size: 2rem;
    text-align:end;}
.txtBox2 .btn{
    font-size: 2rem;
    text-align: end;
    }
/* 메인3의 Box1설정 */
.main3{width: 100%;}
.main3Box1{
    width: 100%;
    height: 1000px;}
.main3Box1>.txtBox1{
    width: 45%;
    height:1000px;
    left: 0;
    top: 0;}
.main3Box1>.txtBox1 h2{
    font-size: 6rem;
    text-align: left;}
.main3Box1>.txtBox1 p{
    font-size: 3rem;
    text-align: end;}
.main3Box1>.txtBox1 .btn{
    font-size: 2rem;
    text-align: end;}
.main3Box1 .container{
    width: 55%;
    height:100%;
    right: 0;
    top:0;}
.main3Box1 .container .img{
    width: 350px; height: 450px;
    border-radius: 20px;
    margin-top: 10px;}
.main3Box1 .container .img:nth-child(1){
    background-image: url(img/product1-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 0;}
.main3Box1 .container .img:nth-child(2){
    background-image: url(img/product1-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 60px;}
.main3Box1 .container .img:nth-child(3){
    background-image: url(img/product1-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 500px}
.main3Box1 .container .img:nth-child(4){
    right: 20px;
    background-image: url(img/product1-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    top: 560px;}

/* 메인3의 Box2설정 */
.main3Box2{
    width: 100%;
    height: 1100px;
    top:0px;}
.main3Box2 .container{
    width: 55%;
    height: 1100px;
    left: 0;}
.main3Box2 .container .img{
    width: 350px; height: 450px;
    border-radius: 20px;}
.main3Box2 .container .img:nth-child(1){
    background-image: url(img/product2-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 0;}
.main3Box2 .container .img:nth-child(2){
    background-image: url(img/product2-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 60px;}
.main3Box2 .container .img:nth-child(3){
    background-image: url(img/product2-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 500px}
.main3Box2 .container .img:nth-child(4){
    background-image: url(img/product2-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 560px;}
.main3Box2 .txtBox2{
    width: 45%;
    height:1100px;
    right:0;
    top: 0px;}
.main3Box2 .txtBox2 p{
    font-size: 3rem;
    text-align: left;}
.main3Box2 .txtBox2 .btn{
    font-size: 2rem;
    text-align: left;}

/* 메인3의 Box3설정 */
.main3{width: 100%;}
.main3Box3{
    width: 100%;
    height: 1100px;
    top: 0;}
.main3Box3>.txtBox3{
    width: 45%;
    height:1100px;
    left: 0;
    top: 0;}
.main3Box3>.txtBox3 p{
    font-size: 3rem;
    text-align: end;}
.main3Box3>.txtBox3 .btn{
    font-size: 2rem;
    text-align: end;}
.main3Box3 .container{
    width: 55%;
    height: 1100px;
    right: 0;
    top: 0;}
.main3Box3 .container .img{
    width: 350px; height: 450px;
    border-radius: 20px;}
.main3Box3 .container .img:nth-child(1){
    background-image: url(img/product3-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 0;}
.main3Box3 .container .img:nth-child(2){
    background-image: url(img/product3-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 60px;}
.main3Box3 .container .img:nth-child(3){
    background-image: url(img/product3-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    left: 20px;
    top: 500px}
.main3Box3 .container .img:nth-child(4){
    background-image: url(img/product3-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    right: 20px;
    top: 560px;}
