@charset 'UTF-8';


  .card {
    border-radius: 50%;
    left: 20%;
    top: 50px;
    width: 250px;
    height: 320px;
    position: relative;
    perspective: 2500px;}
.cover-image {
    width: 250px;
    height: 320px;
    object-fit: cover;
    background-image: url(/img/ruel_nu55.png);
    background-size: cover;
    border-radius: 50%;}
  .wrapper {
    border-radius: 50%;
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;}
  
  .card:hover .wrapper {
    border-radius: 50%;
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 50%;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }

  
  .character {
    width: 250px;
    height: 320px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    background-image: url(/img/ruel_nu4.png);
    background-size: cover;
    border-radius: 50%;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }