/* 언어설정 */
@charset 'UTF-8';
*{margin: 0; padding: 0;}
@media (min-width:768px){
        .box1 {
            width: 100%;}
            
        .box1::after{
            content: "";
            clear: both;
            display: block;
            }
        .boxA {
            width: 33.3333%;
            float: left;
            }
        .boxB {
            width: 33.3333%;
            float: left;
            }
        .boxC {
            width: 33.3333%;
            float: left;
            }
        .box2::after {
            content: ""; 
            clear: both;
            display: block;}
        
        .box3A {
            width: 50%;
            float: left;
            }
        .box3B{
            width: 50%;
            float: left;
            }
        .box3::after {
            content: "";
            clear: both;
            display: block;
            }
        .box4A{
            width: 40%;
            float: left;
            }
        .box4B{
            width: 40%;
            float: left;
            }
        .box4::after{
            content: "";
            clear: both;
            display: block;
            }
        .box4C-1{
            width: 10%;
            float: left;
            }
        .box4C-2{
            width: 10%;
            float: left;
            }
        .box4C::after {
            content: "";
            clear: both;
            display: block;
            }   
        }   
        

@media (min-width:1280px){
        .box2, .box3, .box4{
                width: 1190px;
                margin: 0 auto;
                }       



}